nav.canhcam-header-2
	.container
		ul.list-unstyled.main-nav.mb-0
			li.nav-item
				a.nav-link(href='#') Trang chủ
			li.nav-item
				a.nav-link(href='#') Giới thiệu
			li.nav-item
				a.nav-link(href='#') Quy trình tư vấn
			li.nav-item.dropdown-list
				a.nav-link(href="#") Sản phẩm
				ul.list-unstyled.child-list.level-1
					li.nav-item.dropdown-list
						a.nav-link(href="#") Sản phẩm 1
						ul.list-unstyled.child-list.level-2
							li.nav-item
								a.nav-link(href="#") Sản phẩm con 11
							li.nav-item
								a.nav-link(href="#") Sản phẩm con 12
							li.nav-item
								a.nav-link(href="#") Sản phẩm con 13
					li.nav-item.dropdown-list
						a.nav-link(href="#") Sản phẩm 2
						ul.list-unstyled.child-list.level-2
							li.nav-item
								a.nav-link(href="#") Sản phẩm con 21
							li.nav-item
								a.nav-link(href="#") Sản phẩm con 22
							li.nav-item
								a.nav-link(href="#") Sản phẩm con 23
					li.nav-item
						a.nav-link(href="#") Sản phẩm 1
					li.nav-item
						a.nav-link(href="#") Sản phẩm 1
					li.nav-item
						a.nav-link(href="#") Sản phẩm 1
					li.nav-item
						a.nav-link(href="#") Sản phẩm 1
			li.nav-item.dropdown-list.mega-list
				a.nav-link(href='#') Liệu trình
				.mega-menu
					.close-mega-menu.d-lg-none
						span.mdi.mdi-chevron-left
					.row.no-gutters
						.col-lg-9
							#mega-1.row.no-gutters.mega-content
								.col-lg-8.order-lg-2
									.img
										img(src="./img/lt-3.jpg", alt="")
								.col-lg-4.order-lg-1
									.text
										h4 Những độc tố xuất hiện trên
										p Những độc tố xuất hiện trên da do những ngày tiếp xúc môi trường khói bụi, làn da thường xuyên phải trang điểm,... Liệu trình thải độc da sẽ ngăn chặn tình trạng lão hóa da sớm, da sạm nám, giúp bảo vệ làn da khỏi các nguy cơ bùng phát bệnh da liễu, đem lại một làn da săn chắc và khỏe mạnh.
										p
											a.btn.btn-detail(href="#") Xem chi tiết
												span.lnr.lnr-arrow-right
							#mega-2.row.no-gutters.mega-content
								.col-lg-8.order-lg-2
									.img
										img(src="./img/lt-3.jpg", alt="")
								.col-lg-4.order-lg-1
									.text
										h4 Những độc tố xuất hiện trên
										p Những độc tố xuất hiện trên da do những ngày tiếp xúc môi trường khói bụi, làn da thường xuyên phải trang điểm,... Liệu trình thải độc da sẽ ngăn chặn tình trạng lão hóa da sớm, da sạm nám, giúp bảo vệ làn da khỏi các nguy cơ bùng phát bệnh da liễu, đem lại một làn da săn chắc và khỏe mạnh.
										p
											a.btn.btn-detail(href="#") Xem chi tiết
												span.lnr.lnr-arrow-right
							#mega-3.row.no-gutters.mega-content
								.col-lg-8.order-lg-2
									.img
										img(src="./img/lt-3.jpg", alt="")
								.col-lg-4.order-lg-1
									.text
										h4 Những độc tố xuất hiện trên
										p Những độc tố xuất hiện trên da do những ngày tiếp xúc môi trường khói bụi, làn da thường xuyên phải trang điểm,... Liệu trình thải độc da sẽ ngăn chặn tình trạng lão hóa da sớm, da sạm nám, giúp bảo vệ làn da khỏi các nguy cơ bùng phát bệnh da liễu, đem lại một làn da săn chắc và khỏe mạnh.
										p
											a.btn.btn-detail(href="#") Xem chi tiết
												span.lnr.lnr-arrow-right
							#mega-4.row.no-gutters.mega-content
								.col-lg-8.order-lg-2
									.img
										img(src="./img/lt-3.jpg", alt="")
								.col-lg-4.order-lg-1
									.text
										h4 Những độc tố xuất hiện trên
										p Những độc tố xuất hiện trên da do những ngày tiếp xúc môi trường khói bụi, làn da thường xuyên phải trang điểm,... Liệu trình thải độc da sẽ ngăn chặn tình trạng lão hóa da sớm, da sạm nám, giúp bảo vệ làn da khỏi các nguy cơ bùng phát bệnh da liễu, đem lại một làn da săn chắc và khỏe mạnh.
										p
											a.btn.btn-detail(href="#") Xem chi tiết
												span.lnr.lnr-arrow-right
							#mega-5.row.no-gutters.mega-content
								.col-lg-8.order-lg-2
									.img
										img(src="./img/lt-3.jpg", alt="")
								.col-lg-4.order-lg-1
									.text
										h4 Những độc tố xuất hiện trên
										p Những độc tố xuất hiện trên da do những ngày tiếp xúc môi trường khói bụi, làn da thường xuyên phải trang điểm,... Liệu trình thải độc da sẽ ngăn chặn tình trạng lão hóa da sớm, da sạm nám, giúp bảo vệ làn da khỏi các nguy cơ bùng phát bệnh da liễu, đem lại một làn da săn chắc và khỏe mạnh.
										p
											a.btn.btn-detail(href="#") Xem chi tiết
												span.lnr.lnr-arrow-right
							#mega-6.row.no-gutters.mega-content
								.col-lg-8.order-lg-2
									.img
										img(src="./img/lt-3.jpg", alt="")
								.col-lg-4.order-lg-1
									.text
										h4 Những độc tố xuất hiện trên
										p Những độc tố xuất hiện trên da do những ngày tiếp xúc môi trường khói bụi, làn da thường xuyên phải trang điểm,... Liệu trình thải độc da sẽ ngăn chặn tình trạng lão hóa da sớm, da sạm nám, giúp bảo vệ làn da khỏi các nguy cơ bùng phát bệnh da liễu, đem lại một làn da săn chắc và khỏe mạnh.
										p
											a.btn.btn-detail(href="#") Xem chi tiết
												span.lnr.lnr-arrow-right
						.col-lg-3.d-none.d-lg-block.mega-list
							ul.list-group.list-unstyled
								li.list-group-item(data-link="#mega-1")
									a(href="lieutrinh-chitiet.html") 
										span Liệu trình thải độc da
										br
										| (Detox treatment)
								li.list-group-item(data-link="#mega-2")
									a(href="lieutrinh-chitiet.html") 
										span Liệu trình nặn mụn
										br
										| (Acne treatment)
								li.list-group-item(data-link="#mega-3")
									a(href="lieutrinh-chitiet.html") 
										span Liệu trình tẩy tế bào chết
										br
										| (Peeling Treatment)
								li.list-group-item(data-link="#mega-4")
									a(href="lieutrinh-chitiet.html") 
										span Liệu trình căn bản
										br
										| (Basic treatment)
								li.list-group-item(data-link="#mega-5")
									a(href="lieutrinh-chitiet.html") 
										span Liệu trình nâng cao
										br
										| (Advanced treatment)
								li.list-group-item(data-link="#mega-6")
									a(href="lieutrinh-chitiet.html") 
										span Liệu trình đặc trị
										br
										| (Specific treatment)
			li.nav-item
				a.nav-link(href='#') Giải pháp
			li.nav-item
				a.nav-link(href='#') Tin tức
			li.nav-item
				a.nav-link(href='#') Liên hệ