.canhcam-header-2
	.navbar-mobile
		.container
			.navbar-control.d-lg-none
				.logo
					a(href="index.html")
						img(src="./img/logo.png")
				.close-navbar
					span.mdi.mdi-close
			ul.navbar-nav.mt-0
				li.nav-item
					a.nav-link(href='index.html') Trang chủ
				li.nav-item
					a.nav-link(href='!#') Giới thiệu
				li.nav-item
					a.nav-link(href='!#') Quy trình tư vấn
				li.nav-item
					a.nav-link(href='product.html') Sản phẩm
				.nav-item.lieutrinh
					a.nav-link(href='lieutrinh.html') Liệu trình
					.container.lieutrinh-menu
						.row.mx-0
							.col-3.lieutrinh-list
								ul.list-group.list-unstyled
									li.list-group-item.lieutrinh-1
										a(href="lieutrinh-chitiet.html") 
											span Liệu trình thải độc da
											br
											| (Detox treatment)
									li.list-group-item.lieutrinh-2
										a(href="lieutrinh-chitiet.html") 
											span Liệu trình nặn mụn
											br
											| (Acne treatment)
									li.list-group-item.lieutrinh-3
										a(href="lieutrinh-chitiet.html") 
											span Liệu trình tẩy tế bào chết
											br
											| (Peeling Treatment)
									li.list-group-item.lieutrinh-4
										a(href="lieutrinh-chitiet.html") 
											span Liệu trình căn bản
											br
											| (Basic treatment)
									li.list-group-item.lieutrinh-5
										a(href="lieutrinh-chitiet.html") 
											span Liệu trình nâng cao
											br
											| (Advanced treatment)
									li.list-group-item.lieutrinh-6
										a(href="lieutrinh-chitiet.html") 
											span Liệu trình đặc trị
											br
											| (Specific treatment)
							.col-9
								.row.lieutrinh-1-content.lieutrinh-content.active
									.col-4
										.img
											img(src="./img/lieutrinh/lt-1.jpg", alt="")
									.col-8
										.text
											p Những độc tố xuất hiện trên da do những ngày tiếp xúc môi trường khói bụi, làn da thường xuyên phải trang điểm,... Liệu trình thải độc da sẽ ngăn chặn tình trạng lão hóa da sớm, da sạm nám, giúp bảo vệ làn da khỏi các nguy cơ bùng phát bệnh da liễu, đem lại một làn da săn chắc và khỏe mạnh.
								.row.lieutrinh-2-content.lieutrinh-content
									.col-4
										.img
											img(src="./img/lieutrinh/lt-2.jpg", alt="")
									.col-8
										.text
											p Tự tin với làn da tỏa sáng, không lo các vết thâm, sẹo và mụn trên da khi đã sử dụng liệu trình nặn mụn. Đội ngũ nhân viên chuyên nghiệp và kinh nghiệm tại Miracle Beaute sẽ đem lại một làn da mịn màng và tươi sáng.
								.row.lieutrinh-3-content.lieutrinh-content
									.col-4
										.img
											img(src="./img/lieutrinh/lt-3.jpg", alt="")
									.col-8
										.text
											p Làn da trở nên sáng hồng và mịn màng hơn với liệu trình tẩy tế bào chất trên mặt và cơ thể. Cuốn trôi mọi bụi bẩn, bã nhờn, tránh bị sần sùi, thô ráp và bị xỉn màu bằng AHA và BHA. Đồng thời đẩy mạnh quá trình tái tạo da và thúc đẩy sản sinh collagen.
								.row.lieutrinh-4-content.lieutrinh-content
									.col-4
										.img
											img(src="./img/lieutrinh/lt-4.jpg", alt="")
									.col-8
										.text
											p Ngăn ngừa làn da chảy xệ và tăng sức đề kháng cho da với liệu trình chăm sóc bằng các sản phẩm đặc trị cho làn da thêm căng mịn, cùng với tay nghề chuyên nghiệp nhiều kinh nghiệm của Miracle Beaute đem đến cho bạn những khoảng thời gian nghỉ ngơi thoải mái nhất.
								.row.lieutrinh-5-content.lieutrinh-content
									.col-4
										.img
											img(src="./img/lieutrinh/lt-5.jpg", alt="")
									.col-8
										.text
											p Trải nghiệm liệu trình khoa học, tác động đa chiều, mang đến làn da trẻ hóa thần kỳ ngay những lần điều trị đầu tiên, giúp khắc phục được các khuyết điểm, để làn da luôn tươi trẻ, hồi lại nét đẹp thanh xuân.
								.row.lieutrinh-6-content.lieutrinh-content
									.col-4
										.img
											img(src="./img/lieutrinh/lt-6.jpg", alt="")
									.col-8
										.text
											p Cải thiện sức sống cho làn da, khôi phục hư tổn và tăng cường tinh chất cho da mặt tại liệu trình đặc biệt chăm sóc da chuyên sâu bằng những bộ sản phẩm đặc trị phù hợp với từng loại da. Mọi vấn đề bạn gặp về làn da, lựa chọn Miracle Beaute để chăm sóc toàn diện.
				.nav-item.giaiphap
					a.nav-link(href='giaiphap.html') Giải pháp
					.container.giaiphap-menu.px-0
						ul.list-group.list-unstyled
							li.list-group-item
								a(href="giaiphap-chitiet.html") 
									span Da nhờn mụn
							li.list-group-item
								a(href="giaiphap-chitiet.html") 
									span Da tổn thương
							li.list-group-item
								a(href="giaiphap-chitiet.html") 
									span Da lão hóa
							li.list-group-item
								a(href="giaiphap-chitiet.html") 
									span Nám, tàn nhang, xỉn màu
							li.list-group-item
								a(href="giaiphap-chitiet.html") 
									span Thâm, bọng mắt
							li.list-group-item
								a(href="giaiphap-chitiet.html") 
									span Thiếu ẩm
				li.nav-item
					a.nav-link(href='news.html') Tin tức
				li.nav-item
					a.nav-link(href='contact.html') Liên hệ
			.search.d-lg-none
				.form-group.mb-0
					input(type="text", name="search", placeholder="Tìm kiếm...")
			.lang.d-lg-none
				a(href="#")
					img(src="./img/icon/flag-2.png")
				a(href="#")
					img(src="./img/icon/flag-1.png")