section.canhcam-carousel-1
	.container.miracle-title
		.row
			.col.text-center
				h2 Giải pháp cho làn da của bạn
	article.news-list
		.container
			.row
				.col
					.owl-carousel.owl-theme
						a.item(href="#")
							figure
								img.img-fluid(src="./img/miracle/home/home-1.png")
								figcaption
									h3 Da tổn thương nhạy cảm
									p Da nhạy cảm, da đổ - Da khô, căng - Da đã tổn thương nặng.
						a.item(href="#")
							figure
								img.img-fluid(src="./img/miracle/home/home-2.png")
								figcaption
									h3 Nám và lão hóa da do môi trường
									p Chứng minh lâm sàng: Giảm nám và lão hóa da do môi trường trong vòng 7 ngày.
						a.item(href="#")
							figure
								img.img-fluid(src="./img/miracle/home/home-3.png")
								figcaption
									h3 Làn da trắng sứ
									p Chứng minh lâm sàng: Giúp thắp sáng làn da, cải thiện tông màu da trong vòng 7 ngày.
						a.item(href="#")
							figure
								img.img-fluid(src="./img/miracle/home/home-2.png")
								figcaption
									h3 Nám và lão hóa da do môi trường
									p Chứng minh lâm sàng: Giảm nám và lão hóa da do môi trường trong vòng 7 ngày.