section.canhcam-boxes-5
	.container.miracle-title.text-center
		.row
			.col
				h2 Giải pháp
	.container
		.row
			.col-lg-4.col-md-6
				a.item(href="giaiphap-chitiet.html")
					figure
						img.img-fluid(src="./img/home/home-1.png")
						figcaption
							h3 Da tổn thương nhạy cảm
							p Da nhạy cảm, da đổ - Da khô, căng - Da đã tổn thương nặng.
			.col-lg-4.col-md-6
				a.item(href="giaiphap-chitiet.html")
					figure
						img.img-fluid(src="./img/home/home-2.png")
						figcaption
							h3 Nám và lão hóa da do môi trường
							p Chứng minh lâm sàng: Giảm nám và lão hóa da do môi trường trong vòng 7 ngày.
			.col-lg-4.col-md-6
				a.item(href="giaiphap-chitiet.html")
					figure
						img.img-fluid(src="./img/home/home-3.png")
						figcaption
							h3 Làn da trắng sứ
							p Chứng minh lâm sàng: Giúp thắp sáng làn da, cải thiện tông màu da trong vòng 7 ngày.
			.col-lg-4.col-md-6
				a.item(href="giaiphap-chitiet.html")
					figure
						img.img-fluid(src="./img/home/home-2.png")
						figcaption
							h3 Nám và lão hóa da do môi trường
							p Chứng minh lâm sàng: Giảm nám và lão hóa da do môi trường trong vòng 7 ngày.
			.col-lg-4.col-md-6
				a.item(href="giaiphap-chitiet.html")
					figure
						img.img-fluid(src="./img/home/home-2.png")
						figcaption
							h3 Nám và lão hóa da do môi trường
							p Chứng minh lâm sàng: Giảm nám và lão hóa da do môi trường trong vòng 7 ngày.
			.col-lg-4.col-md-6
				a.item(href="giaiphap-chitiet.html")
					figure
						img.img-fluid(src="./img/home/home-1.png")
						figcaption
							h3 Da tổn thương nhạy cảm
							p Da nhạy cảm, da đổ - Da khô, căng - Da đã tổn thương nặng.