section.canhcam-boxes-5
	.container.miracle-title.text-center
		.row
			.col
				h2 Giải pháp
				p.description Tùy vào tình trạng da, thói quen sinh hoạt, môi trường sống và làm việc mà Miracle Beaute sẽ đề xuất phương pháp phù hợp cho mục tiêu làm đẹp của bạn
	.container
		.row
			.col-lg-4.col-md-6
				a.item(href="giaiphap-chitiet.html")
					figure
						img.img-fluid(src="./img/giaiphap/gp-1.jpg")
						//- figcaption
						//- 	h3 Da tổn thương nhạy cảm
						//- 	p Da bong tróc, mẩn đỏ đi kèm với cảm giác ngứa, nóng và dễ bị kích thích do các tác nhân
			.col-lg-4.col-md-6
				a.item(href="giaiphap-chitiet.html")
					figure
						img.img-fluid(src="./img/giaiphap/gp-2.jpg")
						//- figcaption
						//- 	h3 Da lão hóa
						//- 	p Xuất hiện các nếp nhăn, da thường mỏng và dễ ảnh hưởng bởi môi trường
			.col-lg-4.col-md-6
				a.item(href="giaiphap-chitiet.html")
					figure
						img.img-fluid(src="./img/giaiphap/gp-3.jpg")
						//- figcaption
						//- 	h3 Da nhờn mụn
						//- 	p Da nhiều màu, sáng bóng và lỗ chân lông to, dễ bị nổi mụn khi không chăm sóc kỹ
			.col-lg-4.col-md-6
				a.item(href="giaiphap-chitiet.html")
					figure
						img.img-fluid(src="./img/giaiphap/gp-4.jpg")
						//- figcaption
						//- 	h3 Nám, tàn nhang, xỉn màu
						//- 	p Da xuất hiện các vết nám nhỏ màu nâu xám gây mất thẩm mỹ do ánh nắng mặt trời
			.col-lg-4.col-md-6
				a.item(href="giaiphap-chitiet.html")
					figure
						img.img-fluid(src="./img/giaiphap/gp-5.jpg")
						//- figcaption
						//- 	h3 Thâm, bọng mắt
						//- 	p Thức khuya thiếu ngủ và mệt mỏi sẽ khiến bọng mắt sưng và quầng thâm
			.col-lg-4.col-md-6
				a.item(href="giaiphap-chitiet.html")
					figure
						img.img-fluid(src="./img/giaiphap/gp-6.jpg")
						//- figcaption
						//- 	h3 Thiếu ẩm
						//- 	p Da ít nước và dầu. Da thường khô ráp, hơi sần sùi vì thiếu khả năng dưỡng ẩm tự nhiên