section.canhcam-carousel-5
	article.news-list
		.container
			.row
				.col-lg-3
					.box.miracle-title.text-center
						.num
							p 01
						.title
							h2 Sản phẩm phù hợp
				.col-lg-9
					.owl-carousel.owl-theme
						.item
							a.item-detail(href="product-detail.html")
								figure
									.img
										img(src="./img/product/product-1.jpg", alt="")
									figcaption
										h2 Tên tiếng anh
											br
											| Sữa rửa mặt 2 trong 1
										p.price 790.000 ₫
										.btn.btn-primary XEM NGAY
						.item
							a.item-detail(href="product-detail.html")
								figure
									.img
										img(src="./img/product/product-1.jpg", alt="")
									figcaption
										h2 Tên tiếng anh
											br
											| Sữa rửa mặt 2 trong 1
										p.price 790.000 ₫
										.btn.btn-primary XEM NGAY
						.item
							a.item-detail(href="product-detail.html")
								figure
									.img
										img(src="./img/product/product-1.jpg", alt="")
									figcaption
										h2 Tên tiếng anh
											br
											| Sữa rửa mặt 2 trong 1
										p.price 790.000 ₫
										.btn.btn-primary XEM NGAY
						.item
							a.item-detail(href="product-detail.html")
								figure
									.img
										img(src="./img/product/product-1.jpg", alt="")
									figcaption
										h2 Tên tiếng anh
											br
											| Sữa rửa mặt 2 trong 1
										p.price 790.000 ₫
										.btn.btn-primary XEM NGAY
						.item
							a.item-detail(href="product-detail.html")
								figure
									.img
										img(src="./img/product/product-1.jpg", alt="")
									figcaption
										h2 Tên tiếng anh
											br
											| Sữa rửa mặt 2 trong 1
										p.price 790.000 ₫
										.btn.btn-primary XEM NGAY