<?xml version="1.0" encoding="utf-8" ?>
<settings>
  
  <!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
  <position>
    <add name="Banner trang chủ" value="1" resourcefile="" />
    <add name="Banner trang giới thiệu" value="2" resourcefile="" />
    <add name="Banner trang quy trình tư vấn" value="4" resourcefile="" />
    <add name="Banner trang sản phẩm" value="8" resourcefile="" />
    <add name="Banner trang liệu trình" value="16" resourcefile="" />
    <add name="Banner trang giải pháp" value="32" resourcefile="" />
    <add name="Banner trang tin tức" value="64" resourcefile="" />
    <add name="Banner trang liên hệ" value="128" resourcefile="" />
    <add name="Banner trang liệu trình trang trong" value="256" resourcefile="" />
    <add name="Banner trang tuyển dụng" value="512" resourcefile="" />
    <add name="Banner trang Hỗ trợ" value="1024" resourcefile="" />
  </position>
  
</settings>