section.canhcam-carousel-2
	.container.miracle-title
		.row
			.col.text-center
				h2 phát huy hiệu quả với
	article.news-list
		.container
			.row
				.col
					.owl-carousel.owl-theme
						.item
							a.item-detail(href="product-professional-detail.html")
								figure
									.img
										img(src="./img/product/product-1.jpg", alt="")
									figcaption
										h2 Tên tiếng anh
											br
											| Sữa rửa mặt 2 trong 1
										p.price(style="font-weight: 300") Liên hệ
										.btn.btn-primary XEM NGAY
						.item
							a.item-detail(href="product-professional-detail.html")
								figure
									.img
										img(src="./img/product/product-1.jpg", alt="")
									figcaption
										h2 Tên tiếng anh
											br
											| Sữa rửa mặt 2 trong 1
										p.price(style="font-weight: 300") Liên hệ
										.btn.btn-primary XEM NGAY
						.item
							a.item-detail(href="product-professional-detail.html")
								figure
									.img
										img(src="./img/product/product-1.jpg", alt="")
									figcaption
										h2 Tên tiếng anh
											br
											| Sữa rửa mặt 2 trong 1
										p.price(style="font-weight: 300") Liên hệ
										.btn.btn-primary XEM NGAY
						.item
							a.item-detail(href="product-professional-detail.html")
								figure
									.img
										img(src="./img/product/product-1.jpg", alt="")
									figcaption
										h2 Tên tiếng anh
											br
											| Sữa rửa mặt 2 trong 1
										p.price(style="font-weight: 300") Liên hệ
										.btn.btn-primary XEM NGAY
						.item
							a.item-detail(href="product-professional-detail.html")
								figure
									.img
										img(src="./img/product/product-1.jpg", alt="")
									figcaption
										h2 Tên tiếng anh
											br
											| Sữa rửa mặt 2 trong 1
										p.price(style="font-weight: 300") Liên hệ
										.btn.btn-primary XEM NGAY