section.canhcam-news-details-1
	article.news-details
		.container
			.row
				.col-lg-8
					.news-read
						time 12.12.2017
						h1 Đẹp đón thu sang, rộn ràng khoe sắc:
						hr
						p “Tiếp sức” cho làn da trong những ngày chuyển mùa hè – thu đỏng đảnh, Miracle Beaute dành tặng các chị em gái chương trình ưu đãi siêu hấp dẫn, lên tới hơn 50% chi phí các dịch vụ làm đẹp. Thời điểm mùa thu mát mát mẻ chính là dịp để phái đẹp khoe khéo vẻ gợi cảm khi diện váy áo xẻ vai, những bộ đồ cut – out táo bạo hay bikini sặc sỡ sắc màu, để lộ những đường cong nóng bỏng và làn da căng mướt, trắng mịn tự nhiên. Tuy nhiên, mùa hè cũng chính là thời điểm sức khỏe làn da gặp rất nhiều vấn đề như: nhờn mụn, khô sạm, xỉn màu, thiếu sức sống… Đi đầu trong lĩnh vực chăm sóc & điều trị thẩm mỹ da, Miracle Beaute thấu hiểu hơn ai hết những vấn đề làn da gặp phải. Bên cạnh việc cung cấp đa dạng liệu pháp chăm sóc chuyên biệt, thương hiệu làm đẹp uy tín cũng không quên dành tặng các “tín đồ” của mình chương trình khuyến mãi siêu KHỦNG để chị em tự tin tận hưởng mùa hè sôi động, Chương trình áp dụng từ ngày 1/8 đến hết ngày 31/8/2018 tại tất cả các cơ sở trên toàn hệ thống.
						img.img-fluid(src="./img/news/news-1.jpg", alt="")
						img.img-fluid(src="./img/news/news-2.jpg", alt="")
						img.img-fluid(src="./img/news/news-3.jpg", alt="")
						img.img-fluid(src="./img/news/news-4.jpg", alt="")
						.social-networks.nav
							.nav-item
								.fb-share-button(data-href='', data-layout='button', data-size='small', data-mobile-iframe='true')
									a.fb-xfbml-parse-ignore(target='_blank', href='') Chia sẻ
							.nav-item
								a.twitter-share-button(href='https://twitter.com/share', data-size='medium', data-text='custom share text', data-url='', data-via='twitterdev', data-related='twitterapi,twitter') Tweet
							.nav-item
								.g-plusone(data-size="tall")

				.col-lg-4
					.othernews(data-fix="65", data-fix-type="initial", data-fix-change="sticky")
						h2 TIN TỨC KHÁC
						hr
						.lists
							a.item(href="#")
								figure
									img(src="./img/home/home-9.png", alt="alt")
									figcaption
										time 12.12.2017
										h3 Hành trình chăm sóc da xuyên Việt 2018

							a.item(href="#")
								figure
									img(src="./img/home/home-10.png", alt="alt")
									figcaption
										time 12.12.2017
										h3 Hành trình chăm sóc da xuyên Việt 2018

							a.item(href="#")
								figure
									img(src="./img/home/home-11.png", alt="alt")
									figcaption
										time 12.12.2017
										h3 Hành trình chăm sóc da xuyên Việt 2018

							a.item(href="#")
								figure
									img(src="./img/home/home-9.png", alt="alt")
									figcaption
										time 12.12.2017
										h3 Hành trình chăm sóc da xuyên Việt 2018

							a.item(href="#")
								figure
									img(src="./img/home/home-9.png", alt="alt")
									figcaption
										time 12.12.2017
										h3 Hành trình chăm sóc da xuyên Việt 2018
