section.canhcam-hotro-2
	.container
		.row
			.col-md-3
				.list-group-item.list-faq(data-fix="65", data-fix-type="initial", data-fix-change="sticky")
					.list-item
						a.nav-link(href="hotro.html") Câu hỏi thường gặp
					.list-item.active
						a.nav-link(href="cs-banhang.html") Hướng dẫn thanh toán
					.list-item
						a.nav-link(href="cs-doitra.html") Chính sách đổi trả
					.list-item
						a.nav-link(href="camket.html") Cam kết
			.col-md-9
				.miracle-title.text-center
					h2 Hướng dẫn thanh toán
				.content
					p Nhằm hỗ trợ việc thanh toán của Quý khách hàng thuận tiện hơn, Miracle Beaute mở 8 tài khoản ngân hàng thông dụng tại Việt Nam. Dưới đây là danh sách các tài khoản ngân hàng của Miracle Beaute:
					p
						strong 1. Tên ngân hàng:  AGRIBANK – Chi nhánh AN PHÚ
					p Số tài khoản: 1606206111238
					p Chủ tài khoản: LÊ TÀI HÒA
					p
						strong 1. Tên ngân hàng: VIETCOMBANK – Chi nhánh TÂN BÌNH
					p Số tài khoản: 0441000725726
					p Chủ tài khoản: LÊ TÀI HÒA
					p
						strong 2. Tên ngân hàng: VIETINBANK – Chi nhánh TÂN BÌNH
					p Số tài khoản: ‎103002504309
					p Chủ tài khoản: LÊ TÀI HÒA
					p
						strong 3. Tên ngân hàng: BIDV – Chi nhánh PHÚ NHUẬN
					p Số tài khoản: 31510000913999
					p Chủ tài khoản: LÊ TÀI HÒA
					p
						strong 4. Tên ngân hàng: ACB – Chi nhánh BẾN THÀNH
					p Số tài khoản: 124539639
					p Chủ tài khoản: LÊ TÀI HÒA
					p
						strong 5. Tên ngân hàng: ĐÔNG Á – Chi nhánh ĐINH TIÊN HOÀNG
					p Số tài khoản: 0102501490
					p Chủ tài khoản: LÊ TÀI HÒA
					p
						strong 6. Tên ngân hàng: SACOMBANK – Chi nhánh TÂN BÌNH
					p Số tài khoản: 060109478531
					p Chủ tài khoản: LÊ TÀI HÒA
					p
						strong 7. Tên ngân hàng: TECHCOMBANK – Chi nhánh LÊ VĂN SỸ
					p Số tài khoản: 19032174702012
					p Chủ tài khoản: LÊ TÀI HÒA
					p Sau khi chuyển khoản ngân hàng phù hợp, Quý khách vui lòng liên hệ hotline 0932142224 hoặc nhắn tin về fanpage: facbook.com/miraclebeautefr để xác nhận chuyển khoản.
