section.canhcam-hotro-3
	.container
		.row
			.col-md-3
				.list-group-item.list-faq(data-fix="65", data-fix-type="initial", data-fix-change="sticky")
					.list-item
						a.nav-link(href="hotro.html") Câu hỏi thường gặp
					.list-item
						a.nav-link(href="cs-banhang.html") Chính sách bán hàng
					.list-item.active
						a.nav-link(href="cs-doitra.html") Chính sách đổi trả
					.list-item
						a.nav-link(href="camket.html") Cam kết
			.col-md-9
				.miracle-title.text-center
					h2 Chính sách đổi trả
				.content
					p Quý khách khi mua hàng tại Miracle Beaute hoàn toàn có thể an tâm về chất lượng sản phẩm mà mình nhận được. Miracle Beaute cam kết tất cả các sản phẩm được gửi đến quý khách hàng đều là sản phẩm nguyên mới, chất lượng, được nhập khẩu chính thức từ thương hiệu Academie Scientifique de Beaute Paris.
					p
						strong Chính sách đổi hàng
					p - Miracle Beaute chỉ chấp nhận đổi trả sản phẩm do lỗi từ nhà sản xuất hoặc lỗi của bộ phận tư vấn bán hàng
					p - Sản phẩm được đổi 1 lần duy nhất trong vòng 30 ngày kể từ ngày nhận hàng.
					p - Sản phẩm đổi phải có giá bằng hoặc cao hơn giá sản phẩm đã mua. Khách hàng sẽ không được hoàn lại tiền thừa nếu sản phẩm đổi có giá thấp hơn sản phẩm đã mua.
					p - Với các sản phẩm khuyến mãi, sản phẩm thanh lý… Miracle Beaute  không áp dụng chính sách đổi hàng theo nhu cầu của khách hàng nếu sản phẩm không bị lỗi do nhà sản xuất.
					p
						strong Hướng dẫn đổi sản phẩm
					p
						strong Cách 1: Đổi sản phẩm trực tiếp tại cửa hàng
					p Khách hàng có nhu cầu đổi lại sản phẩm đã mua, có thể mang sản phẩm kèm theo vận đơn đến một trong số các cửa hàng sau đây để thực hiện việc đổi trả:
					p -	Văn phòng  Sài Gòn: 122/19 Đặng Văn Ngữ, phường 14, quận Phú Nhuận, Tp. HCM
					p -	Văn phòng Hà Nội: số 3 Nguyễn Như Đổ, phường Văn Miếu, quận Đống Đa, Hà Nội
					p
						strong Cách 2: Gửi đổi sản phẩm qua đường bưu điện
					p -	Khách hàng ở những khu vực không có văn phòng của Miracle Beaute, khi có nhu cầu đổi sản phẩm đã mua, Quý khách vui lòng gửi sản phẩm, vận đơn kèm theo, hóa đơn thanh toán (nếu có) về địa chỉ: Văn phòng  Sài Gòn: 122/19 Đặng Văn Ngữ, phường 14, quận Phú Nhuận, Tp. HCM
					p
						strong Điều khoản và điều kiện đổi hàng
					p - Sản phẩm đổi do chuyên viên tư vấn lựa chọn sai sản phẩm trên làn da khách hàng 
					p - Sản phẩm bị lỗi của nhà sản xuất hoặc trong quá trình vận chuyển.
					p - Sản phẩm không được vơi quá 10% so với lượng ban đầu
					p - Sản phẩm được gửi đầy đủ gồm vỏ hộp và hóa đơn thanh toán (nếu có)
					p - Sản phẩm còn trong thời hạn hiệu lực cho phép đổi hàng (30 ngày kể từ thời điểm nhận hàng).
					p
						strong Phí đổi hàng
					p - Miracle Beaute miễn phí đổi hàng cho khách hàng trong trường hợp sản phẩm bị lỗi sản xuất, bị trầy xước khi vận chuyển, giao nhầm.