section.canhcam-lieutrinh-1
	.container.miracle-title.text-center
		.row
			.col
				h2 Liệu trình 
	.container
		.row
			.col-lg-4.col-sm-6
				a.item(href='#')
					figure
						.img
							img(src="", alt="")
			.col-lg-4.col-sm-6
				a.item(href='#')
					figure
						.img
							img(src="", alt="")
			.col-lg-4.col-sm-6
				a.item(href='#')
					figure
						.img
							img(src="", alt="")
			.col-lg-4.col-sm-6
				a.item(href='#')
					figure
						.img
							img(src="", alt="")
			.col-lg-4.col-sm-6
				a.item(href='#')
					figure
						.img
							img(src="", alt="")
			.col-lg-4.col-sm-6
				a.item(href='#')
					figure
						.img
							img(src="", alt="")