<?xml version="1.0" encoding="utf-8" ?>
<templates>
	<!-- <newstype name="Tin tức" value="1"></newstype> -->
	<!-- <newstype name="Mới" value="1"></newstype> -->
	<showoption name="Icon new" value="1"></showoption>

	<templatelist xsltname="DS-QTTuVan.xslt" name="Danh sách - Quy trình tư vấn"></templatelist>
	<templatelist xsltname="DS-KhuyenMai.xslt" name="Danh sách - Khuyến mãi"></templatelist>
	<templatelist xsltname="DS-GiaiPhap.xslt" name="Danh sách - Giải pháp"></templatelist>
	<templatelist xsltname="DS-SuKien.xslt" name="Danh sách - Sự kiện"></templatelist>
	<templatelist xsltname="DS-HinhAnh.xslt" name="Danh sách - Thư viện ảnh"></templatelist>
	<templatelist xsltname="DS-Video.xslt" name="Danh sách - Thư viện video"></templatelist>
	<templatelist xsltname="DS-CauHoiThuongGap.xslt" name="Hỗ trợ khách hàng- Câu hỏi"></templatelist>
	<templatelist xsltname="DS-HuongDanThanhToan.xslt" name="Hỗ trợ khách hàng- Hướng dẫn"></templatelist>
	<templatelist xsltname="DS-ChinhSachDoiTra.xslt" name="Hỗ trợ khách hàng- Chính sách"></templatelist>

	<templatedetail xsltname="CT-TinTuc.xslt" name="Chi tiết - Tin tức"></templatedetail>
	<templatedetail xsltname="CT-KhuyenMai.xslt" name="Chi tiết - Khuyến mãi"></templatedetail>
	<templatedetail xsltname="CT-GiaiPhap.xslt" name="Chi tiết - Giải pháp"></templatedetail>
	<templatedetail xsltname="CT-SuKien.xslt" name="Chi tiết - Sự kiện"></templatedetail>

	<position>
		<add name="Trang chủ" value="1" resourcefile="" />
		<add name="Quy trình tư vấn da" value="2" resourcefile="" />
		<add name="Trang chủ - Giải pháp" value="4" resourcefile="" />
		<add name="Trang chủ - Quy trình" value="8" resourcefile="" />
		<add name="Trang chủ - Miracle Beaute" value="16" resourcefile="" />
		<add name="Trang chủ - Kiến Thức" value="32" resourcefile="" />
		<add name="Trang chủ - Miracle Beaute - Phan Tich" value="64" resourcefile="" />
	</position>
</templates>
