section.canhcam-shop-details-1
	article.product-details
		.container
			.row.d-flex
				.col-md-5.order-md-2.mb-4.infomation
					h1 Sữa rửa mặt 2 trong 1 (Ref 1000)
					hr
					.html Để lại làn da tinh khiết, sạch sẽ và tươi mới. sử dụng Thấm một lượng vừa đủ sản phẩm vào bông tẩy trang, lau nhẹ nhàng vùng mắt trước,...
					hr
					table.table.table-bordered
						tbody
							tr
								td Giá: 
								td.text-bold 1.290.000 ₫
							tr
								td Dung tích: 
								td.text-bold 250 ml

				.col-md-7.order-md-1.slider-img
					article.product-item
						img(src="./img/miracle/product/product-1.jpg")