section.canhcam-shop-details-1
	article.product-details
		.container
			.row.d-flex
				.col-md-5.order-md-2.mb-4.infomation
					h1 Sữa rửa mặt 2 trong 1 (Ref 1000)
					hr
					.html Để lại làn da tinh khiết, sạch sẽ và tươi mới. sử dụng Thấm một lượng vừa đủ sản phẩm vào bông tẩy trang, lau nhẹ nhàng vùng mắt trước,...
					hr
					table.table.table-bordered
						tbody
							tr
								td Dung tích: 
								td.text-bold 250 ml
							tr
								td Công dụng chính: 
								td.text-bold 
							tr
								td Đối tượng sử dụng: 
								td.text-bold mọi loại da
							tr
								td Giá: 
								td.text-bold 1.290.000 ₫

				.col-md-7.order-md-1.slider-img
					article.product-item
						img(src="./img/miracle/product/product-1.jpg")
			.row.mt-4.tab-product
				.col-12
					nav
						#nav-tab.nav.nav-tabs(role='tablist')
							a#tab1-tab.nav-item.nav-link.active(data-toggle='tab', href='#tab1', role='tab', aria-controls='tab1', aria-selected='true') Chi tiết
							a#tab2-tab.nav-item.nav-link(data-toggle='tab', href='#tab2', role='tab', aria-controls='tab2', aria-selected='false') Công dụng
							a#tab3-tab.nav-item.nav-link(data-toggle='tab', href='#tab3', role='tab', aria-controls='tab3', aria-selected='false') Actif chính
							a#tab4-tab.nav-item.nav-link(data-toggle='tab', href='#tab4', role='tab', aria-controls='tab4', aria-selected='false') Thành phần
							a#tab5-tab.nav-item.nav-link(data-toggle='tab', href='#tab5', role='tab', aria-controls='tab5', aria-selected='false') Hướng dẫn sử dụng
							a#tab6-tab.nav-item.nav-link(data-toggle='tab', href='#tab6', role='tab', aria-controls='tab6', aria-selected='false') Video
							a#tab7-tab.nav-item.nav-link(data-toggle='tab', href='#tab7', role='tab', aria-controls='tab7', aria-selected='false') Bình luận
					#nav-tabContent.tab-content
						#tab1.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='tab1-tab') 
							p Nếu nói về tẩy tế bào chết cơ học thì kết cấu #gomme là kết cấu HOÀN HẢO nhất, không bị quá chà xát da như kết cấu lợn cợn, vừa tẩy được nhẹ nhàng trên da, vừa đủ giúp độ bong tróc tế bào theo đúng chu kỳ tái tạo tế bào mới.
							p Với tác dụng: giúp da tươi sáng, khoẻ, thúc đẩy tế bào mới, mềm mại và nhất là sau khi tẩy chạm lên....thiệt là ghiền lắm lắm luôn với độ mượt mà của da
							p Hơn nữa tế bào chết gomme của #AB với nồng độ cô đặc actif lên tới 24.5%, gồm:
							p Cellulose : 17% 
							p Tinh chất chiết xuất từ pulpe arbre, giúp làn da loại bỏ được tế bào chết, bụi bẩn trên da nhờ vào sự kích thích cơ học.
							p Tinh chất củ cải đường : 3% 
							p Thúc đẩy các acide amine có trong củ cải đường, cân bằng và duy trì độ dưỡng ẩm, hơn hết còn có tác dụng giúp làn da nhạy cảm dịu nhẹ trong suốt quá trình tẩy tế bào chết. Bởi vậy, mà ngay cả da tổn thương mới hồi phục các bạn vẫn có thể ung dung tẩy tế bào chết gomme mà không lo lắng gì cả.
							p Tinh chất prele : 2%
							p Giàu hỗn hợp muối mineral, giúp làn da kích thích độ tái tạo tế bào và sạch sâu.
							p  Hỗn hợp dưỡng ẩm : 2% 
							p Giúp da duy trì độ dưỡng ẩm tăng cao.
							p Nếu kể về các actif mà không kể đến hỗn hợp tinh dầu nguyên chất : hoa oải hương, romarin, grenaium: 0,5% thì thật là bỏ quên đi một nửa tác dụng tuyệt vời của tẩy tế bào chết Gomme nà..
							p Hương thơm của các tinh dầu hoà quyện mang lại cảm giác thư giãn, nhẹ nhàng như đang chăm sóc da trong spa ngay chính ngôi nhà của bạn.

						#tab2.tab-pane.fade(role='tabpanel', aria-labelledby='tab2-tab')
							p - Tẩy tế bào chết nhẹ nhàng, thúc đẩy tái tạo tế bào mới
							p - Giúp làn da tươi sáng, mềm mại 
							p - Mang lại cảm giác dễ chịu, thư giãn khi sử dụng 
							p Vừa tẩy được nhẹ nhàng trên da, vừa đủ giúp độ bong tróc tế bào theo đúng chu kỳ tái tạo tế bào mới. Giúp da tươi sáng, khoẻ, thúc đẩy tế bào mới, mềm mại

						#tab3.tab-pane.fade(role='tabpanel', aria-labelledby='tab3-tab') 
							p Tổng nồng độ hoạt chất có trong sản phẩm: 24.5 %
						#tab4.tab-pane.fade(role='tabpanel', aria-labelledby='tab4-tab')
							p Cellulose 17% 
							p Beetroot extract 3% 
							p Horsetail extract 2% 
							p Moisturizer of plant origin 2% 
							p 100% pure and natural essential oils complex (lavender, rosemary, geranium Egypt, cypress, thyme) 0.5%

						#tab5.tab-pane.fade(role='tabpanel', aria-labelledby='tab5-tab') 
							p Dùng một  đến hai lần một tuần, thoa một lớp mỏng trên khắp mặt và cổ. Để khoảng 1 đến 2 phút, sau đó dùng tay xoa tròn đều để tạo tác động cơ học lên làn da. Sau đó rửa sạch gương mặt và chuẩn bị cho bước tiếp theo trong quy trình 
							p Nếu bạn có thắc mắc trong quá trình sử dụng sản phẩm, bạn vui lòng liên hệ hotline 0932142224 để được hỗ trợ.

						#tab6.tab-pane.fade(role='tabpanel', aria-labelledby='tab6-tab') ...
						#tab7.tab-pane.fade(role='tabpanel', aria-labelledby='tab7-tab') ...
