section.canhcam-gallery-2
	.container.miracle-title.text-center
		.row
			.col-12
				h2 THƯ VIỆN VIDEO
		include ../../nav/n-1/index.pug
	article.gallery-details
		.container
			.row.gallery-lists
				.col-sm-6.col-lg-8.item-wrap.top-list
					a.item(href="https://www.youtube.com/watch?v=3oU4fGSMGcI")
						figure
							.boxzoom
								.zoom-item
									img(src="./img/play-btn.png", alt="")
								.d-none.d-lg-block(bg-img='./img/news/news-1.jpg')
								img.img-fluid.d-lg-none(src="./img/news/news-1.jpg")
							figcaption
								h3 Album ảnh 01
				
				.col-sm-6.col-lg-4
					.row
						.col-12.item-wrap
							.item(href="https://www.youtube.com/watch?v=3oU4fGSMGcI")
								figure
									.boxzoom
										.zoom-item
											img(src="./img/play-btn.png", alt="")
										img.img-fluid(src="./img/news/news-2.jpg")
									figcaption
										h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
						.col-12.item-wrap
							.item(href="https://www.youtube.com/watch?v=3oU4fGSMGcI")
								figure
									.boxzoom
										.zoom-item
											img(src="./img/play-btn.png", alt="")
										img.img-fluid(src="./img/news/news-3.jpg")
									figcaption
										h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
				.col-sm-6.col-lg-4.item-wrap
					.item(href="https://www.youtube.com/watch?v=3oU4fGSMGcI")
						figure
							.boxzoom
								.zoom-item
									img(src="./img/play-btn.png", alt="")
								img.img-fluid(src="./img/news/news-2.jpg")
							figcaption
								h3 golf-etc EXPANN SPRING 2017  COLLECTION
				.col-sm-6.col-lg-4.item-wrap
					.item(href="https://www.youtube.com/watch?v=3oU4fGSMGcI")
						figure
							.boxzoom
								.zoom-item
									img(src="./img/play-btn.png", alt="")
								img.img-fluid(src="./img/news/news-3.jpg")
							figcaption
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
				.col-sm-6.col-lg-4.item-wrap
					.item(href="https://www.youtube.com/watch?v=3oU4fGSMGcI")
						figure
							.boxzoom
								.zoom-item
									img(src="./img/play-btn.png", alt="")
								img.img-fluid(src="./img/news/news-1.jpg")
							figcaption
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY