section.canhcam-carousel-2
	.container.miracle-title
		.row
			.col.text-center
				h2 Sản phẩm liên quan
	article.news-list
		.container
			.row
				.col
					.owl-carousel.owl-theme
						.item
							a.item-detail(href="product-detail.html")
								figure
									.img
										img(src="./img/miracle/product/product-1.jpg", alt="")
									figcaption
										h2 Sữa rửa mặt 2 trong 1 (Ref 1000)
										.all-price
											span.price 690.000 ₫
						.item
							a.item-detail(href="product-detail.html")
								figure
									.img
										img(src="./img/miracle/product/product-1.jpg", alt="")
									figcaption
										h2 Sữa rửa mặt 2 trong 1 (Ref 1000)
										.all-price
											span.price 690.000 ₫
						.item
							a.item-detail(href="product-detail.html")
								figure
									.img
										img(src="./img/miracle/product/product-1.jpg", alt="")
									figcaption
										h2 Sữa rửa mặt 2 trong 1 (Ref 1000)
										.all-price
											span.price 690.000 ₫
						.item
							a.item-detail(href="product-detail.html")
								figure
									.img
										img(src="./img/miracle/product/product-1.jpg", alt="")
									figcaption
										h2 Sữa rửa mặt 2 trong 1 (Ref 1000)
										.all-price
											span.price 690.000 ₫
						.item
							a.item-detail(href="product-detail.html")
								figure
									.img
										img(src="./img/miracle/product/product-1.jpg", alt="")
									figcaption
										h2 Sữa rửa mặt 2 trong 1 (Ref 1000)
										.all-price
											span.price 690.000 ₫