section.canhcam-carousel-2
	.container.miracle-title
		.row
			.col.text-center
				h2 phát huy hiệu quả với
	article.news-list
		.container
			.row
				.col
					.owl-carousel.owl-theme
						.item
							a.item-detail(href="product-detail.html")
								figure
									.img
										img(src="./img/product/product-3.jpg", alt="")
									figcaption
										h2 Tên tiếng anh
											br
											| Sữa rửa mặt 2 trong 1
										p.price 790.000 ₫
										.btn.btn-primary XEM NGAY
						.item
							a.item-detail(href="product-detail.html")
								figure
									.img
										img(src="./img/product/product-5.jpg", alt="")
									figcaption
										h2 Tên tiếng anh
											br
											| Sữa rửa mặt 2 trong 1
										p.price 790.000 ₫
										.btn.btn-primary XEM NGAY
						.item
							a.item-detail(href="product-detail.html")
								figure
									.img
										img(src="./img/product/product-4.jpg", alt="")
									figcaption
										h2 Tên tiếng anh
											br
											| Sữa rửa mặt 2 trong 1
										p.price 790.000 ₫
										.btn.btn-primary XEM NGAY
						.item
							a.item-detail(href="product-detail.html")
								figure
									.img
										img(src="./img/product/product-6.jpg", alt="")
									figcaption
										h2 Tên tiếng anh
											br
											| Sữa rửa mặt 2 trong 1
										p.price 790.000 ₫
										.btn.btn-primary XEM NGAY
						.item
							a.item-detail(href="product-detail.html")
								figure
									.img
										img(src="./img/product/product-8.jpg", alt="")
									figcaption
										h2 Tên tiếng anh
											br
											| Sữa rửa mặt 2 trong 1
										p.price 790.000 ₫
										.btn.btn-primary XEM NGAY