section.canhcam-hotro-4
	.container
		.row
			.col-md-3
				.list-group-item.list-faq(data-fix="65", data-fix-type="initial", data-fix-change="sticky")
					.list-item
						a.nav-link(href="hotro.html") Câu hỏi thường gặp
					.list-item
						a.nav-link(href="cs-banhang.html") Chính sách bán hàng
					.list-item
						a.nav-link(href="cs-doitra.html") Chính sách đổi trả
					.list-item.active
						a.nav-link(href="camket.html") Cam kết
			.col-md-9
				.miracle-title.text-center
					h2 Cam kết
				.content
					p
						strong CAM KẾT CỦA MIRACLE BEAUTE ĐỐI VỚI KHÁCH HÀNG
					p Miracle Beaute trung thành tuyệt đối với phương châm “Chỉ bán hàng sau khi tư vấn”. Mỗi sản phẩm chăm sóc và điều trị da được bán ra từ Miracle Beaute luôn được các chuyên viên tư vấn xem và phân tích trên làn da từng khách hàng để đưa ra và chọn lựa sản phẩm phù hợp trên làn da thực tế khách hàng 
					p
						strong Cam kết điều trị
					p Miracle Beaute sẽ phân tích rõ tình trạng da và cam kết những vấn đề  có thể hồi phục trên làn da của bạn,  để tránh đem đến cho bạn một niềm tin nữa vời, không thực tế.
					p
						strong Đổi hoặc hoàn trả nếu sản phẩm không phù hợp với làn da khách hàng
					p Sau khi mua và sử dụng trong thời hạn 1 tháng kể từ ngày mua hàng trên hóa đơn, nếu làn da của bạn không thích hợp hoặc bị kích ứng trên làn da do chuyên viên tư vấn của Miracle Beaute tư vấn sai sản phẩm, bạn có quyền đổi hoặc hoàn trả sản phẩm và bạn sẽ được hoàn lại 100% tiền mua hàng 
					p Điều kiện hoàn trả:
					p - Sản phẩm được hoàn trả không được vượt quá 10% dung tích và phải còn đủ tem chống hàng giả
					p - Bạn cần phải có đầy đủ hóa đơn khi mua sản phẩm
					p
						strong Theo dõi da định kỳ mỗi tháng:

					p Mỗi tháng các khách hàng của Miracle Beaute có thể đến trực tiếp hoặc gửi hình qua online để chuyên viên tư vấn xem và phân tích sự cải thiện của làn da, qua đó chúng tôi sẽ thay đổi quy trình hoặc đan xen những sản phẩm phù hợp để thúc đẩy liệu trình 
					p Ngoài ra, mỗi khi có lo lắng về làn da, các bạn đều có thể liên hệ Miracle Beaute thông qua hotline: 0932142224 để được giải đáp các thắc mắc.
					p Đây là những cam kết thể hiện về sự tư tin và trách nhiệm của Miracle Beaute đối với việc tư vấn và lựa chọn sản phẩm phù hợp trên từng tình trạng da khách hàng.