section.canhcam-boxes-3
	.container
		.row.miracle-title.text-center
			.col
				h2 Tuyển dụng
		.row.justify-content-center
			.col-lg-6
				.img.d-none.d-md-block(bg-img='./img/job/job-1.jpg')
				.img.d-block.d-md-none
					img(src="./img/job/job-1.jpg")
			.col-lg-6.content
				.text
					p Hãy tìm kiếm cơ hội nghề nghiệp tại Miracle Beaute để khẳng định bản thân và giao lưu học hỏi tạo cho bản thân nền tảng kiến thức vững vàng trong môi trường làm việc thân thiện và năng động
					p Trong định hướng phát triển nhân sự, Miracle Beaute tập trung xây dựng chính sách thu hút nhân tài thông qua chính sách lương, thưởng đặc biệt cạnh tranh kết hợp với các hoạt động đào tạo, bồi dưỡng nhằm giữ chân CBNV lâu dài, xây dựng phát triển đội ngũ quản lý kế thừa nhằm đáp ứng nhu cầu nhân sự cấp quản lý cho những năm tiếp theo cũng như thu hút nhân lực giỏi từ nhiều nguồn khác nhau về làm việc cho Công ty.