section.canhcam-banner-1
	
	.owl-carousel
		.item
			img(src="./img/miracle/banner/home-banner-1.jpg")
		.item
			img(src="./img/miracle/banner/home-banner-2.jpg")
		.item
			img(src="./img/miracle/banner/home-banner-3.jpg")
	.navbar-mobile
		.container
			.navbar-control.d-lg-none
				.logo
					a(href="index.html")
						img(src="./img/miracle/logo.png")
				.close-navbar
					span.mdi.mdi-close
			ul.navbar-nav.mt-0
				li.nav-item.active
					a.nav-link(href='index.html') Trang chủ
				li.nav-item
					a.nav-link(href='about.html') Giới thiệu
				li.nav-item
					a.nav-link(href='tuvan.html') Quy trình tư vấn
				li.nav-item
					a.nav-link(href='product.html') Sản phẩm
				.nav-item.lieutrinh
					a.nav-link(href='lieutrinh.html') Liệu trình
					.container.lieutrinh-menu
						.row.mx-0
							.col-3
								a.item(href="#") 
									figure
										.img
											img(src="./img/miracle/lieutrinh/coban/cb-1.jpg")
										figcaption
											h3 Liệu trình cơ bản
							.col-3
								a.item(href="#") 
									figure
										.img
											img(src="./img/miracle/lieutrinh/coban/cb-1.jpg")
										figcaption
											h3 Liệu trình cơ bản
							.col-3
								a.item(href="#") 
									figure
										.img
											img(src="./img/miracle/lieutrinh/coban/cb-1.jpg")
										figcaption
											h3 Liệu trình cơ bản
							.col-3
								a.item(href="#") 
									figure
										.img
											img(src="./img/miracle/lieutrinh/coban/cb-1.jpg")
										figcaption
											h3 Liệu trình cơ bản
				li.nav-item
					a.nav-link(href='giaiphap.html') Giải pháp
				li.nav-item
					a.nav-link(href='news.html') Tin tức
				li.nav-item
					a.nav-link(href='contact.html') Liên hệ
			.search.d-lg-none
				.form-group.mb-0
					input(type="text", name="search", placeholder="Tìm kiếm...")
			.lang.d-lg-none
				a(href="#")
					img(src="./img/miracle/icon/flag-2.png")
				a(href="#")
					img(src="./img/miracle/icon/flag-1.png")