section.canhcam-banner-1
	.owl-carousel
		.item
			img(src="./img/banner/home-banner-1.jpg")
		.item
			img(src="./img/banner/home-banner-2.jpg")
		.item
			img(src="./img/banner/home-banner-3.jpg")
include ../../header/h-2/index.pug