section.canhcam-boxes-6
	.container.miracle-title
		.row
			.col.text-center
				h2 Qui trình tư vấn da
	article.procedure
		.container
			.row
				.col-lg-4.cam-ket.pr-lg-0
					.text(bg-img='./img/qt-tuvan/q_1.png')
						h3 CAM KẾT
				.col-lg-8.cam-ket
					.text(bg-img='./img/qt-tuvan/q_2.png')
						p
							span.lnr.lnr-checkmark-circle
							| Chịu trách nhiệm hoàn toàn trên làn da trong thời gian sử dụng sản phẩm tại Miracle Beaute
						p
							span.lnr.lnr-calendar-full
							| Theo dõi da định kỳ mỗi tháng
						p
							span.lnr.lnr-bubble
							| Hỗ trợ và giải đáp thắc mắc
						p
							span.lnr.lnr-license
							| Sản phẩm nhập khẩu chính hãng từ Pháp
			.row
				.col-lg-4.procedure-step.pr-lg-0
					.text(bg-img="./img/qt-tuvan/q_3.png")
						h3 01
						h4 Lựa chọn hình thức tư vấn
				.col-lg-8.procedure-step
					.text
						.row
							.col-12.col-sm-6.mb-4.mb-sm-0
								p
									span.lead Tư vấn trực tuyến: 
									| Các chuyên viên tư vấn sẽ phân tích cho quý khách tình trạng da hiện tại dựa trên thông tin đã cung cấp.
								a.btn.btn-primary(data-fancybox='send-info', data-src='#send-info', href='javascript:;') 
									span.mdi.mdi-file-document
									| Gửi thông tin về làn da
								#send-info.home-popup.modal-form(style='display: none')
									h4 Đặt lịch tư vấn trực tiếp
									form.row
										.form-group.col-md-6
											label.label(for='name') Tên(*)
											input.form-control(name='name' type='text' required)
										.form-group.col-md-6
											label.label(for='phone') Số điện thoại(*)
											input.form-control(name='phone' type='text' required)
										.form-group.col-md-6
											label.label(for='email') Email
											input.form-control(name='email' type='email')
										.form-group.col-md-6
											label.label(for='phone') Ngày hẹn(*)
											input.form-control(name='phone' type='text' required)
										.form-group.col-12
											label.label(for='content') Bạn cảm nhận như thế nào về làn da hiện tại?
											textarea.form-control(name="content" rows='2')
										.form-group.col-12
											label.label(for='content') Kể tên các sản phẩm bạn đang sử dụng (nếu có)
											textarea.form-control(name="content" rows='2')
										.form-group.col-12
											label.label(for='content') Bạn mong muốn chúng tôi cải thiện điều gì trên làn da hiện tại
											textarea.form-control(name="content" rows='2')
										.form-group.col-auto.mx-auto
											button.btn.btn-primary(type="submit") Đăng ký
									
							.col-12.col-sm-6
								p
									span.lead Tư vấn trực tiếp: 
									| Hẹn lịch và đến trực tiếp văn phòng Hà Nội và Sài Gòn, các chuyên viên tư vấn sẽ xem và chẩn đoán tình trạng da.
								a.btn.btn-primary(data-fancybox='book-meeting', data-src='#book-meeting', href='javascript:;') 
									span.mdi.mdi-tooltip-edit
									| Đặt lịch hẹn ngay
								#book-meeting.home-popup.modal-form(style='display: none; max-width: 500px')
									h4 Đặt lịch tư vấn trực tiếp
									form.row
										.form-group.col-md-12
											label.label(for='name') Tên
											input.form-control(name='name' type='text')
										.form-group.col-md-12
											label.label(for='phone') Số điện thoại
											input.form-control(name='phone' type='text')
										.form-group.col-md-12
											label.label(for='email') Email
											input.form-control(name='email' type='email')
										.form-group.col-md-12
											label.label(for='date') Ngày hẹn
											input.form-control(name='date' type='text')
										.form-group.col-md-12
											label.label(for='date') Địa điểm
											select.form-control
												option(value="default") Chọn địa điểm
												option(value="01") Hà Nội
												option(value="02") TP. Hồ Chí Minh
										.form-group.col-auto.mx-auto
											button.btn.btn-primary(type="submit") Đăng ký
			.row
				.col-lg-4.procedure-step.order-lg-2.pl-lg-0
					.text(bg-img="./img/qt-tuvan/q_4.png")
						h3 01
						h4 Lựa chọn hình thức tư vấn
				.col-lg-8.procedure-step.order-lg-1
					.text
						p Dựa vào kết quả chẩn đoán, chúng tôi sẽ đưa ra những cam kết điều trị và một bộ sản phẩm điều trị phù hợp với tình trạng da của khách hàng
						p Ngoài ra, để tiết kiệm chi phí chăm sóc da, Quý khách có thể đem theo hoặc chụp hình lại những sản phẩm đang sử dụng,  Miracle Beaute có thể đang xen cùng với quy trình chăm sóc da mà chúng tôi đã tư vấn nếu những sản phẩm đó phù hợp với tình trạng da hiện tại của Quý Khách
			.row
				.col-lg-4.procedure-step.pr-lg-0
					.text(bg-img="./img/qt-tuvan/q_5.png")
						h3 01
						h4 Lựa chọn hình thức tư vấn
				.col-lg-8.procedure-step
					.text
						p Dựa vào danh sách sản phẩm có trong đơn, Miracle Beaute sẽ đưa ra quy trình sử dụng sản phẩm gồm: sáng, trưa, tối, đắp mặt nạ, tẩy tế bào chết (nếu có) và hướng dẫn sử dụng từng loại sản phẩm, có trong danh sách