footer.canhcam-footer-1
	.linkfooter
		.container
			.row
				.col-12.col-lg-3
					.socials
						h4 LIÊN HỆ
						.add 
							span.mdi.mdi-map-marker
							p
								span.bold Văn phòng Tp.HCM:
								br
								span 122/19, Đặng Văn Ngữ, Q. Phú Nhuận
						.add
							span.mdi.mdi-phone(style='opacity: 0')
							p
								span.bold Văn phòng Hà Nội: 
								br
								span 3, Nguyễn Như Đổ, Q. Đống Đa
						.add
							span.mdi.mdi-phone
							p
								span 0932 14 2224
								br
								span 02866 828 844
						.add
							span.mdi.mdi-email
							p
								span contact@miraclebeaute.com
						p
							img(src="./img/footer-thongbao.png")
				.col-12.col-lg-3.col-md-4
					a(href="about.html")
						h4.mt-5.mt-lg-0 VỀ MIRACLE BEAUTE
					nav.list-group
						.list-group-item
							a(href="about.html") Giới thiệu
						.list-group-item
							a(href="news.html") Tin tức
						.list-group-item
							a(href="#") Khuyến mãi
						.list-group-item
							a(href="#") Blog
				.col-6.col-lg-3.col-md-4
					a(href="hotro.html")
						h4.mt-5.mt-lg-0 HỖ TRỢ KHÁCH HÀNG
					nav.list-group
						.list-group-item
							a(href="hotro.html") Câu hỏi thường gặp
						.list-group-item
							a(href="cs-banhang.html") Hướng dẫn thanh toán
						.list-group-item
							a(href="cs-doitra.html") Chính sách đổi trả
						.list-group-item
							a(href="camket.html") Cam kết
				.col.col-lg-3.col-md-4
					a(href="job.html")
						h4.mt-5.mt-lg-0 TUYỂN DỤNG
					nav.list-group
						.list-group-item
							a(href="#") Chuyên viên tư vấn
						.list-group-item
							a(href="#") Kỹ thuật viên liệu trình
						.list-group-item
							a(href="#") Marketing
						.list-group-item
							a(href="#") Hành chính - Kế toán
	.copyright
		.container
			.row
				.col-md.text-md-left.text-center.d-flex.align-items-center
					p © 2018 Miracle Beaute. Tất cả các quyền đều được bảo hộ.
				.col-md-2
					nav.list-group.flex-row.justify-content-center.justify-content-md-end
						.list-group-item
							a(href="#")
								span.fab.fa-facebook-f
						.list-group-item
							a(href="#")
								span.fab.fa-google-plus-g