footer.canhcam-footer-1
	.linkfooter
		.container
			.row
				.col-12.col-lg-3
					.socials
						h4 LIÊN HỆ
						p 
							span.mdi.mdi-map-marker
							| Văn phòng Tp.HCM 122/19 Đặng Văn Ngữ, Q. Phú Nhuận
							br(style='margin-bottom: .5rem')
							| Văn phòng Hà Nội 3 Nguyễn Như Đổ, Q. Đống Đa
						p
							span.mdi.mdi-phone
							| 0932 14 2224
							br
							| 02866 828 844
						p
							span.mdi.mdi-email
							span contact@miraclebeaute.com
						p
							img(src="./img/miracle/footer-thongbao.png")
				.col-12.col-lg-3.col-md-4
					h4.mt-5.mt-lg-0 VỀ MIRACLE BEAUTE
					nav.list-group
						.list-group-item
							a(href="#") Giới thiệu
						.list-group-item
							a(href="#") Tin tức
						.list-group-item
							a(href="#") Khuyến mãi
						.list-group-item
							a(href="#") Blog
				.col-6.col-lg-3.col-md-4
							h4.mt-5.mt-lg-0 HỖ TRỢ KHÁCH HÀNG
							nav.list-group
								.list-group-item
									a(href="#") Câu hỏi thường gặp
								.list-group-item
									a(href="#") Đặt câu hỏi
								.list-group-item
									a(href="#") Chính sách bán hàng
								.list-group-item
									a(href="#") Chính sách đổi trả
								.list-group-item
									a(href="#") Cam kết
								.list-group-item
									a(href="#") Cam kết
				.col.col-lg-3.col-md-4
					h4.mt-5.mt-lg-0 TUYỂN DỤNG
					nav.list-group
						.list-group-item
							a(href="#") Chuyên viên tư vấn
						.list-group-item
							a(href="#") Kỹ thuật viên liệu trình
						.list-group-item
							a(href="#") Marketing
						.list-group-item
							a(href="#") Marketing
						.list-group-item
							a(href="#") Hành chính - Kế toán
	.copyright
		.container
			.row
				.col-md.text-md-left.text-center.d-flex.align-items-center
					p © 2018 Miracle Beaute. Tất cả các quyền đều được bảo hộ.
				.col-md-2
					nav.list-group.flex-row.justify-content-center.justify-content-md-end
						.list-group-item
							a(href="#")
								span.fab.fa-facebook-f
						.list-group-item
							a(href="#")
								span.fab.fa-google-plus-g