section.canhcam-shop-1
	article.product-lists
		.container
			.row
				.col-md-4.col-lg-3
					.boxprice
						.title.d-flex.d-md-none.justify-content-between.align-items-center
							h3 Filter Search
							button.collapsed.btn.btn-sm(data-toggle="collapse", data-target="#filterSearch", role="button", aria-expanded="false" aria-controls="filterSearch")
								i.fa.fa-search
						form#filterSearch
							h4 Danh mục sản phẩm
							ul.list-group.list-unstyled.product-list
								li.dropdown-list.active
									h3 Loại sản phẩm
									ul.list-group.list-unstyled.type-product
										li.list-group-item
											a.nav-link.active(href="#") Tẩy Trang
										li.list-group-item
											a.nav-link(href="#") Sữa Rửa Mặt
										li.list-group-item
											a.nav-link(href="#") Nước Hoa Hồng
										li.list-group-item
											a.nav-link(href="#") Tẩy tế bào chết
										li.list-group-item
											a.nav-link(href="#") Mặt nạ
										li.list-group-item
											a.nav-link(href="#") Serum
										li.list-group-item
											a.nav-link(href="#") Ampoules
										li.list-group-item
											a.nav-link(href="#") Kem Dưỡng
										li.list-group-item
											a.nav-link(href="#") Kem chống nắng
										li.list-group-item
											a.nav-link(href="#") Mắt - Môi - Cổ
										li.list-group-item
											a.nav-link(href="#") Body
								li.dropdown-list
									h3 Loại da
									ul.list-group.list-unstyled.type-product(style='display: none')
										li.list-group-item
											a.nav-link(href="#") Da bình thường - Hỗn hợp
										li.list-group-item
											a.nav-link(href="#") Da nhờn - Mụn
										li.list-group-item
											a.nav-link(href="#") Da khô
										li.list-group-item
											a.nav-link(href="#") Da tổn thương - Nhạy cảm
										li.list-group-item
											a.nav-link(href="#") Da lão hóa
										li.list-group-item
											a.nav-link(href="#") Mọi loại da
				.col-md-8.col-lg-9
					.row
						.col-12.miracle-title.text-center
							h2 DANH SÁCH SẢN PHẨM
					.row
						.col-12
							.boxproducts
								.row.no-gutters
									.col-sm-6.col-lg-4.item
										a.item-detail(href="product-detail.html")
											figure
												.img
													img(src="./img/product/product-2.jpg", alt="")
												figcaption
													h2 Sữa rửa mặt 2 trong 1 (Ref 1000)
													p.price 590.000 ₫
													.btn.btn-primary XEM NGAY
									.col-sm-6.col-lg-4.item
										a.item-detail(href="product-detail.html")
											figure
												.img
													img(src="./img/product/product-2.jpg", alt="")
												figcaption
													h2 Sữa rửa mặt cho da nhạy cảm (Ref 8019)
													p.price 590.000 ₫
													.btn.btn-primary XEM NGAY
									.col-sm-6.col-lg-4.item
										a.item-detail(href="product-detail.html")
											figure
												.img
													img(src="./img/product/product-3.jpg", alt="")
												figcaption
													h2 Sữa rửa mặt cân bằng độ nhờn (Ref 2082)
													p.price 590.000 ₫
													.btn.btn-primary XEM NGAY
									.col-sm-6.col-lg-4.item
										a.item-detail(href="product-detail.html")
											figure
												.img
													img(src="./img/product/product-4.jpg", alt="")
												figcaption
													h2 Sữa rửa mặt sáng da (Ref 8310)
													p.price 590.000 ₫
													.btn.btn-primary XEM NGAY
									.col-sm-6.col-lg-4.item
										a.item-detail(href="product-detail.html")
											figure
												.img
													img(src="./img/product/product-5.jpg", alt="")
												figcaption
													h2 Sữa rửa mặt cho da lão hóa (Ref 9111)
													p.price 590.000 ₫
													.btn.btn-primary XEM NGAY
									.col-sm-6.col-lg-4.item
										a.item-detail(href="product-detail.html")
											figure
												.img
													img(src="./img/product/product-6.jpg", alt="")
												figcaption
													h2 GEL rửa mặt cân bằng độ PH (Ref 8013)
													p.price 590.000 ₫
													.btn.btn-primary XEM NGAY
									.col-sm-6.col-lg-4.item
										a.item-detail(href="product-detail.html")
											figure
												.img
													img(src="./img/product/product-7.jpg", alt="")
												figcaption
													h2 Sữa rửa mặt dịu nhẹ, chai 500ML (Ref 2080)
													p.price 590.000 ₫
													.btn.btn-primary XEM NGAY
									.col-sm-6.col-lg-4.item
										a.item-detail(href="product-detail.html")
											figure
												.img
													img(src="./img/product/product-8.jpg", alt="")
												figcaption
													h2 Sửa rửa mặt tạo bọt (Ref 2084)
													p.price 590.000 ₫
													.btn.btn-primary XEM NGAY
									.col-sm-6.col-lg-4.item
										a.item-detail(href="product-detail.html")
											figure
												.img
													img(src="./img/product/product-9.jpg", alt="")
												figcaption
													h2 Sữa rửa mặt cân bằng độ nhờn (Ref 2082)
													p.price 590.000 ₫
													.btn.btn-primary XEM NGAY
					.row.justify-content-center
						ul.pagination.pagination-sm.mb-0
							li.page-item
								a.page-link(href="#", title="title") 1
							li.page-item.active
								a.page-link(href="#", title="title") 2
							li.page-item
								a.page-link(href="#", title="title") 3
							li.page-item
								a.page-link(href="#", title="title") 4