section.canhcam-shop-1
	article.product-lists
		.container
			.row.miracle-title.text-center
				.col-12
					h2 DANH SÁCH SẢN PHẨM
		.container
			.row
				.col-md-4.col-lg-3
					.boxprice
						.title.d-flex.d-md-none.justify-content-between.align-items-center
							h3 Filter Search
							button.collapsed.btn.btn-sm(data-toggle="collapse", data-target="#filterSearch", role="button", aria-expanded="false" aria-controls="filterSearch")
								i.fa.fa-search
						form#filterSearch
							h4 LOẠI SẢN PHẨM
							
							ul.list-group.list-unstyled
								li.list-group-item
									a.nav-link.active(href="#") Tẩy Trang
								li.list-group-item
									a.nav-link(href="#") Sữa Rửa Mặt
								li.list-group-item
									a.nav-link(href="#") Nước Hoa Hồng
								li.list-group-item
									a.nav-link(href="#") Tẩy tế bào chết
								li.list-group-item
									a.nav-link(href="#") Mặt nạ
								li.list-group-item
									a.nav-link(href="#") Serum
								li.list-group-item
									a.nav-link(href="#") Ampoules
								li.list-group-item
									a.nav-link(href="#") Kem Dưỡng
								li.list-group-item
									a.nav-link(href="#") Kem chống nắng
								li.list-group-item
									a.nav-link(href="#") Mắt - Môi - Cổ
								li.list-group-item
									a.nav-link(href="#") Body
								li.list-group-item
									a.nav-link(href="#") Body
				.col-md-8.col-lg-9
					.row.pager
						.col-6.offset-6.mt-3.mt-md-0.d-flex.align-items-center
							select.custom-select
								option(selected) Sắp xếp theo
								option(value="1") Giá từ thấp đến cao
								option(value="2") Giá từ cao đến thấp
					.row
						.col-12
							.boxproducts
								.row.no-gutters
									.col-sm-6.col-lg-4.item
										a.item-detail(href="product-detail.html")
											figure
												.img
													img(src="./img/miracle/product/product-1.jpg", alt="")
												figcaption
													h2 Sữa rửa mặt 2 trong 1 (Ref 1000)
													.all-price
														span.price 16.990.000 ₫
														span  -
														span.price-out 17.990.000 ₫
									.col-sm-6.col-lg-4.item
										a.item-detail(href="product-detail.html")
											figure
												.img
													img(src="./img/miracle/product/product-2.jpg", alt="")
												figcaption
													h2 Sữa rửa mặt cho da nhạy cảm (Ref 8019)
													.all-price
														span.price 16.990.000 ₫
														span  -
														span.price-out 17.990.000 ₫
									.col-sm-6.col-lg-4.item
										a.item-detail(href="product-detail.html")
											figure
												.img
													img(src="./img/miracle/product/product-3.jpg", alt="")
												figcaption
													h2 Sữa rửa mặt cân bằng độ nhờn (Ref 2082)
													.all-price
														span.price 16.990.000 ₫
														span  -
														span.price-out 17.990.000 ₫
									.col-sm-6.col-lg-4.item
										a.item-detail(href="product-detail.html")
											figure
												.img
													img(src="./img/miracle/product/product-4.jpg", alt="")
												figcaption
													h2 Sữa rửa mặt sáng da (Ref 8310)
													.all-price
														span.price 16.990.000 ₫
														span  -
														span.price-out 17.990.000 ₫
									.col-sm-6.col-lg-4.item
										a.item-detail(href="product-detail.html")
											figure
												.img
													img(src="./img/miracle/product/product-5.jpg", alt="")
												figcaption
													h2 Sữa rửa mặt cho da lão hóa (Ref 9111)
													.all-price
														span.price 16.990.000 ₫
														span  -
														span.price-out 17.990.000 ₫
									.col-sm-6.col-lg-4.item
										a.item-detail(href="product-detail.html")
											figure
												.img
													img(src="./img/miracle/product/product-6.jpg", alt="")
												figcaption
													h2 GEL rửa mặt cân bằng độ PH (Ref 8013)
													.all-price
														span.price 16.990.000 ₫
														span  -
														span.price-out 17.990.000 ₫
									.col-sm-6.col-lg-4.item
										a.item-detail(href="product-detail.html")
											figure
												.img
													img(src="./img/miracle/product/product-7.jpg", alt="")
												figcaption
													h2 Sữa rửa mặt dịu nhẹ, chai 500ML (Ref 2080)
													.all-price
														span.price 16.990.000 ₫
														span  -
														span.price-out 17.990.000 ₫
									.col-sm-6.col-lg-4.item
										a.item-detail(href="product-detail.html")
											figure
												.img
													img(src="./img/miracle/product/product-8.jpg", alt="")
												figcaption
													h2 Sửa rửa mặt tạo bọt (Ref 2084)
													.all-price
														span.price 16.990.000 ₫
														span  -
														span.price-out 17.990.000 ₫
									.col-sm-6.col-lg-4.item
										a.item-detail(href="product-detail.html")
											figure
												.img
													img(src="./img/miracle/product/product-9.jpg", alt="")
												figcaption
													h2 Sữa rửa mặt cân bằng độ nhờn (Ref 2082)
													.all-price
														span.price 16.990.000 ₫
														span  -
														span.price-out 17.990.000 ₫
					.row.justify-content-center
						ul.pagination.pagination-sm.mb-0
							li.page-item
								a.page-link(href="#", title="title") 1
							li.page-item.active
								a.page-link(href="#", title="title") 2
							li.page-item
								a.page-link(href="#", title="title") 3
							li.page-item
								a.page-link(href="#", title="title") 4