section.lieutrinhchitiet-1
	.container.miracle-title.text-center
		h2 Basic treatment
	.container.chitiet.pb-5
		.row
			.col-lg-6
				.img
					img(src="./img/miracle/lieutrinh/coban/cb-2.jpg")
			.col-lg-6
				.text
					h3 Basic treatment
					p An ideal treatment for you to experience our special treatment products and specific massage techniques from Academie Beaute
					.table-responsive
						table.table
							tr
								td.px-0 Prices: 
								td.px-0 790.000 đ
							tr
								td.px-0 Time: 
								td.px-0 45mins
					a.btn.btn-primary(data-fancybox='book-meeting', data-src='#book-meeting', href='javascript:;') 
						span.mdi.mdi-note-text
						span ĐẶT LỊCH NGAY
					#book-meeting.home-popup.modal-form(style='display: none')
						h4 ĐẶT LỊCH NGAY
						form
							.form-group
								label.label(for='name') Tên
								input.form-control(name='name' type='text' placeholder='Tên')
							.form-group
								label.label(for='phone') Số điện thoại
								input.form-control(name='phone' type='text' placeholder='Số điện thoại')
							.form-group
								label.label(for='email') Email
								input.form-control(name='email' type='email' placeholder='Email')
							.form-group
								label.label(for='date') Ngày hẹn
								input.form-control.datepicker(name='date' type='date' value='2018-07-26')
							.form-group
								button.btn.btn-primary(type="submit") Đăng ký
	article.step
		.container
			.row.miracle-title.text-center
				.col-12
					h2 Quy trình dịch vụ
			.row
				.col-lg-3.col-sm-6
					.text
						h4 Bước 1
						figure
							img(src="./img/miracle/lieutrinh/coban/cb-5.jpg", alt="")
							figcaption
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, aut dolores quae aperiam a soluta accusamus repellat veniam iusto illum. 
				.col-lg-3.col-sm-6
					.text
						h4 Bước 2
						figure
							img(src="./img/miracle/lieutrinh/coban/cb-6.jpg", alt="")
							figcaption
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste
				.col-lg-3.col-sm-6
					.text
						h4 Bước 3
						figure
							img(src="./img/miracle/lieutrinh/coban/cb-7.jpg", alt="")
							figcaption
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, aut dolores quae aperiam a soluta accusamus repellat veniam iusto illum. Eaque consequuntur 
				.col-lg-3.col-sm-6
					.text
						h4 Bước 4
						figure
							img(src="./img/miracle/lieutrinh/coban/cb-8.jpg", alt="")
							figcaption
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, aut dolores quae aperiam a soluta accusamus repellat veniam iusto illum. Eaque consequuntur itaque provident nulla praesentium distinctio. Ullam, dolor nobis!