section.giaiphapchitiet-1
	.container.chitiet.pb-5
		.row
			.col-md-6.slider-img
				article.slider-for
					.item
						img(src="./img/lieutrinh/coban/cb-1.jpg", alt="")
					.item
						img(src="./img/lieutrinh/coban/cb-4.jpg", alt="")
					.item
						img(src="./img/lieutrinh/coban/cb-5.jpg", alt="")
					.item
						img(src="./img/lieutrinh/coban/cb-6.jpg", alt="")
					.item
						img(src="./img/lieutrinh/coban/cb-7.jpg", alt="")
					.item
						img(src="./img/lieutrinh/coban/cb-8.jpg", alt="")

				article.slider-control
					.slider-nav
						.item
							img(src="./img/lieutrinh/coban/cb-1.jpg", alt="")
						.item
							img(src="./img/lieutrinh/coban/cb-4.jpg", alt="")
						.item
							img(src="./img/lieutrinh/coban/cb-5.jpg", alt="")
						.item
							img(src="./img/lieutrinh/coban/cb-6.jpg", alt="")
						.item
							img(src="./img/lieutrinh/coban/cb-7.jpg", alt="")
						.item
							img(src="./img/lieutrinh/coban/cb-8.jpg", alt="")
					button.btn.top-arrow
						i.fa.fa-chevron-left
					button.btn.bottom-arrow
						i.fa.fa-chevron-right
			.col-md-6
				.text
					h1 Da tổn thương nhạy cảm
					.html 
						p Với công thức mạnh mẽ được nghiên cứu từ những chuyên gia Academie Beaute, dòng sản phẩm điều trị da nhạy cảm sẽ giúp: làn da được xoa dịu, bảo vệ và phục hồi da nhạy cảm trước những tác động: sử dụng mỹ phẩm chứa corticoid, sử dụng mỹ phẩm không đúng cách, dùng thuốc điều trị thời gian dài, khí hậu và thời tiết nơi sinh sống...  Kết hợp các liệu trình theo khoa học sẽ giúp làn da của bạn cải thiện một cách nhanh chóng.
						