section.canhcam-carousel-6
	.container.miracle-title
		.row
			.col.text-center
				h2 Liệu trình phù hợp
	article.news-list
		.container
			.row
				.col
					.owl-carousel.owl-theme
						.item
							a.item-detail(href="lieutrinh-chitiet.html")
								figure
									.img
										img(src="./img/lieutrinh/lt-2.jpg", alt="")
									figcaption
										h2 Liệu trình thải độc da
										p.price 390.000 ₫
						.item
							a.item-detail(href="lieutrinh-chitiet.html")
								figure
									.img
										img(src="./img/lieutrinh/lt-3.jpg", alt="")
									figcaption
										h2 Liệu trình nặn mụn
										p.price 590.000 ₫
						.item
							a.item-detail(href="lieutrinh-chitiet.html")
								figure
									.img
										img(src="./img/lieutrinh/lt-4.jpg", alt="")
									figcaption
										h2 Liệu trình tẩy tế bào chết
										p.price 790.000 ₫
						.item
							a.item-detail(href="lieutrinh-chitiet.html")
								figure
									.img
										img(src="./img/lieutrinh/lt-5.jpg", alt="")
									figcaption
										h2 Liệu trình nâng cao
										p.price 1.190.000 ₫
						.item
							a.item-detail(href="lieutrinh-chitiet.html")
								figure
									.img
										img(src="./img/lieutrinh/lt-6.jpg", alt="")
									figcaption
										h2 Liệu trình đặc biệt
										p.price 1.790.000 ₫