section.canhcam-carousel-3
	.container.miracle-title
		.row
			.col.text-center
				h2 Các liệu trình khác
	article.news-list
		.container
			.row
				.col
					.owl-carousel.owl-theme
						.item
							.item-detail
								figure
									a(href="lieutrinh-chitiet.html")
										.img
											img(src="./img/lieutrinh/lt-2.jpg", alt="")
									figcaption
										a(href="lieutrinh-chitiet.html")
											h3 Tên tiếng anh
												br
												| Liệu trình thải độc da
											p.price 390.000 ₫
										.btn.btn-primary ĐẶT LỊCH NGAY
						.item
							.item-detail
								figure
									a(href="lieutrinh-chitiet.html")
										.img
											img(src="./img/lieutrinh/lt-3.jpg", alt="")
									figcaption
										a(href="lieutrinh-chitiet.html")
											h3 Tên tiếng anh
												br
												| Liệu trình nặn mụn
											p.price 590.000 ₫
										.btn.btn-primary ĐẶT LỊCH NGAY
						.item
							.item-detail
								figure
									a(href="lieutrinh-chitiet.html")
										.img
											img(src="./img/lieutrinh/lt-4.jpg", alt="")
									figcaption
										a(href="lieutrinh-chitiet.html")
											h3 Tên tiếng anh
												br
												| Liệu trình tẩy tế bào chết
											p.price 790.000 ₫
										.btn.btn-primary ĐẶT LỊCH NGAY
						.item
							.item-detail
								figure
									a(href="lieutrinh-chitiet.html")
										.img
											img(src="./img/lieutrinh/lt-5.jpg", alt="")
									figcaption
										a(href="lieutrinh-chitiet.html")
											h3 Tên tiếng anh
												br
												| Liệu trình nâng cao
											p.price 1.190.000 ₫
										.btn.btn-primary ĐẶT LỊCH NGAY
						.item
							.item-detail
								figure
									a(href="lieutrinh-chitiet.html")
										.img
											img(src="./img/lieutrinh/lt-6.jpg", alt="")
									figcaption
										a(href="lieutrinh-chitiet.html")
											h3 Tên tiếng anh
												br
												| Liệu trình đặc biệt
											p.price 1.790.000 ₫
										.btn.btn-primary ĐẶT LỊCH NGAY