extends _layout/layout.pug
block variables
	- var title = "about"
	- var description = "Description for about page"
	- var bodyclass = "about"
	- var href = "/about.html"
block header
	include ../lib/header/h-1/index.pug
	include ../lib/banner/b-1/index.pug
block body
	include ../lib/boxes/b-3/index.pug
	include ../lib/carousel/c-3/index.pug
	include ../lib/boxes/b-4/index.pug
block footer
	include ../lib/footer/f-1/index.pug
