extends _layout/layout.pug
block variables
	- var title = "Cam kết"
	- var description = "Description for camket page"
	- var bodyclass = "camket"
	- var href = "/camket.html"
block header
	include ../lib/header/h-1/index.pug
	include ../lib/banner/b-2/index.pug
block body
	include ../lib/hotro/h-4/index.pug
block footer
	include ../lib/footer/f-1/index.pug
