extends _layout/layout.pug
block variables
	- var title = "Liên hệ"
	- var description = "Description for contact page"
	- var bodyclass = "contact"
	- var href = "/contact.html"
block header
	include ../lib/header/h-1/index.pug
	include ../lib/banner/b-7/index.pug
block body
	include ../lib/form/f-1/index.pug
	include ../lib/map/m-1/index.pug
block footer
	include ../lib/footer/f-1/index.pug
