//- extends _layout/layout.pug
//- block variables
//- 	- var title = "Chính sách bán hàng"
//- 	- var description = "Description for cs-banhang page"
//- 	- var bodyclass = "cs-banhang"
//- 	- var href = "/cs-banhang.html"
//- block header
//- 	include ../lib/header/h-1/index.pug
//- 	include ../lib/banner/b-2/index.pug
//- block body
//- 	include ../lib/hotro/h-2/index.pug
//- block footer
//- 	include ../lib/footer/f-1/index.pug
