extends _layout/layout.pug
block variables
	- var title = "Chính sách đổi trả"
	- var description = "Description for cs-doitra page"
	- var bodyclass = "cs-doitra"
	- var href = "/cs-doitra.html"
block header
	include ../lib/header/h-1/index.pug
	include ../lib/banner/b-2/index.pug
block body
	include ../lib/hotro/h-3/index.pug
block footer
	include ../lib/footer/f-1/index.pug
