//- extends _layout/layout.pug
//- block variables
//- 	- var title = "Sự kiện"
//- 	- var description = "Description for event page"
//- 	- var bodyclass = "event"
//- 	- var href = "/event.html"
//- block header
//- 	include ../lib/header/h-1/index.pug
//- 	include ../lib/banner/b-6/index.pug
//- block body
//- 	include ../lib/news/n-2/index.pug
//- block footer
//- 	include ../lib/footer/f-1/index.pug
