extends _layout/layout.pug
block variables
	- var title = "Giải pháp"
	- var description = "Description for giaiphap page"
	- var bodyclass = "giaiphap"
	- var href = "/giaiphap.html"
block header
	include ../lib/header/h-1/index.pug
	include ../lib/banner/b-5/index.pug
block body
	include ../lib/boxes/b-5/index.pug
block footer
	include ../lib/footer/f-1/index.pug
