//- extends _layout/layout.pug
//- block variables
//- 	- var title = "Giải pháp chi tiết"
//- 	- var description = "Description for giaiphap page"
//- 	- var bodyclass = "giaiphap"
//- 	- var href = "/giaiphap.html"
//- block header
//- 	include ../lib/header/h-1/index.pug
//- 	include ../lib/banner/b-5/index.pug
//- block body
//- 	include ../lib/giaiphapchitiet/g-1/index.pug
//- 	include ../lib/carousel/c-5/index.pug
//- 	include ../lib/carousel/c-6/index.pug
//- block footer
//- 	include ../lib/footer/f-1/index.pug
