//- extends _layout/layout.pug
//- block variables
//- 	- var title = "Hỗ trợ"
//- 	- var description = "Description for hotro page"
//- 	- var bodyclass = "hotro"
//- 	- var href = "/hotro.html"
//- block header
//- 	include ../lib/header/h-1/index.pug
//- 	include ../lib/banner/b-2/index.pug
//- block body
//- 	include ../lib/hotro/h-1/index.pug
//- block footer
//- 	include ../lib/footer/f-1/index.pug
