extends _layout/layout.pug
block variables
	- var title = "Tuyển dụng"
	- var description = "Description for job page"
	- var bodyclass = "job"
	- var href = "/job.html"
block header
	include ../lib/header/h-1/index.pug
	include ../lib/banner/b-2/index.pug
block body
	include ../lib/boxes/b-3/index.pug
	include ../lib/boxes/b-1/index.pug
block footer
	include ../lib/footer/f-1/index.pug
