//- extends _layout/layout.pug
//- block variables
//- 	- var title = "Liệu trình chi tiết"
//- 	- var description = "Description for lieutrinh-chitiet page"
//- 	- var bodyclass = "lieutrinh-chitiet"
//- 	- var href = "/lieutrinh-chitiet.html"
//- block header
//- 	include ../lib/header/h-1/index.pug
//- 	include ../lib/banner/b-5/index.pug
//- block body
//- 	include ../lib/lieutrinhchitiet/l-1/index.pug
//- 	include ../lib/carousel/c-7/index.pug
//- 	include ../lib/carousel/c-3/index.pug
//- block footer
//- 	include ../lib/footer/f-1/index.pug
