//- extends _layout/layout.pug
//- block variables
//- 	- var title = "Liệu trình"
//- 	- var description = "Description for lieutrinh page"
//- 	- var bodyclass = "lieutrinh"
//- 	- var href = "/lieutrinh.html"
//- block header
//- 	include ../lib/header/h-1/index.pug
//- 	include ../lib/banner/b-5/index.pug
//- block body
//- 	include ../lib/lieutrinh/l-1/index.pug
//- block footer
//- 	include ../lib/footer/f-1/index.pug
