//- extends _layout/layout.pug
//- block variables
//- 	- var title = "Sản phẩm"
//- 	- var description = "Description for product page"
//- 	- var bodyclass = "product"
//- 	- var href = "/product.html"
//- block header
//- 	include ../lib/header/h-1/index.pug
//- 	include ../lib/banner/b-4/index.pug
//- block body
//- 	include ../lib/shop/s-1/index.pug
//- block footer
//- 	include ../lib/footer/f-1/index.pug
