extends _layout/layout.pug
block variables
	- var title = "Qui trình tư vấn"
	- var description = "Description for qt-tuvan page"
	- var bodyclass = "qt-tuvan"
	- var href = "/qt-tuvan.html"
block header
	include ../lib/header/h-1/index.pug
	include ../lib/banner/b-3/index.pug
block body
	include ../lib/boxes/b-6/index.pug
block footer
	include ../lib/footer/f-1/index.pug
