section.canhcam-hotro-1
	.container
		.row
			.col-md-3
				.list-group-item.list-faq(data-fix="65", data-fix-type="initial", data-fix-change="sticky")
					.list-item.active
						a.nav-link(href="hotro.html") Câu hỏi thường gặp
					.list-item
						a.nav-link(href="cs-banhang.html") Chính sách bán hàng
					.list-item
						a.nav-link(href="cs-doitra.html") Chính sách đổi trả
					.list-item
						a.nav-link(href="camket.html") Cam kết
			.col-md-9.question-list
				.miracle-title.text-center
					h2 Câu hỏi thường gặp
				form.validator
					.row
						.form-group.col-md-6
							label(for='name') Họ tên
								span.text-main (*)
							input#name.form-control(type='text', data-error="Vui lòng nhập thông tin", required)
							.help-block.with-errors
						.form-group.col-md-6
							label(for='Email') Email
							input#Email.form-control(type='text',  data-error="Vui lòng nhập thông tin", pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$", required)
							.help-block.with-errors
					.row
						.form-group.col-md-6
							label(for='Phone') Số điện thoại
							input#Phone.form-control(type='text',  data-error="Vui lòng nhập thông tin", pattern="^[_A-z0-9]{1,}$", required)
							.help-block.with-errors
						.form-group.col-md-6
							label(for='Address') Địa chỉ
							input#Address.form-control(type='text', )
					.row
						.form-group.col
							label(for='sms') Câu hỏi
							textarea#sms.form-control(name="sms", cols="30", rows="5")

					.row
						.col
							button.btn.btn-primary.text-uppercase(type="submit") GỬI

				.list-group-item.p-0
					.list-item.active
						.question
							p Ngưng kem hoặc sản phẩm có corticoid trong thời thời gian dài, không dùng gì nữa thì theo thời gian da có khỏe trở lại không?
							span.mdi.mdi-comment-question-outline
						.answer
							p Trả lời: Không! Thật sự là như vậy. MB có tiếp nhận nhiều trường hợp khách hàng đã nhưng sử dụng mỹ phẩm hoặc thuốc có corticoid trong thời gian dài như 3-10 năm, nhưng tình trạng da vẫn tổn thương , thậm chí có trường hợp càng để lâu càng nặng. Vì sao ư? Vì khi da chúng ta đã bị tổn thương ,mất khi khả nặng tư bảo vệ và việc tái tạo không còn đúng chu kỳ bình thường của da thì dù không sử dụng đi nữa, hàng ngày da chúng ta vẫn chịu nhiều tác động bên trong lần bên ngoài, mà khi đó da đã yếu, nhạy cảm thì chỉ càng khiến da dễ bị tác động, vi khuẩn càng dễ xâm nhập gây viêm, ngứa, rát khó chịu thôi.
					.list-item
						.question
							p Dùng tẩy trang, chống nắng như MB khuyên thôi thì da có khỏe lại được không?
							span.mdi.mdi-comment-question-outline
						.answer
							p Trả lời : Không! Đúng là tẩy trang và chống nắng là 2 sản phẩm cần thiết nhất, cơ bản nhất,MB khuyên mọi người bắt buộc phải có nếu muốn chăm sóc da. Nhưng, tẩy trang chỉ là làm sạch cho da thông thoáng, sạch sẽ; chống nắng chỉ là bảo vệ da khỏi tác hại của các tia UV mà thôi. Chúng không có khả năng phục hồi tế bào tổn thương, kháng viêm hay hình thành lại lớp màng bảo vệ, vì thế tẩy trang và chống nắng chỉ là điều kiện cần, không phải là điều kiện đủ cho một làn da tổn thương.
					.list-item
						.question
							p Da bị tổn thương và bị mụn nhiều? Vậy điều trị mụn trước hay điều trị cùng lúc cả 2 được ko?
							span.mdi.mdi-comment-question-outline
						.answer
							p Trả lời: Không! Như đã nói qua về làn da tổn thương, tình trạng da khá yếu, việc dùng các sản phẩm điều trị mụn trên làn da tổn thương sẽ không mang lại kết quả như mong muốn, ngược lại càng khiến làn da tổn thương hơn.
					.list-item
						.question
							p Trong khi điều trị tổn thương em có thể kết hợp nặn mụn hay lăn kim cho da nhanh đẹp được không?
							span.mdi.mdi-comment-question-outline
						.answer
							p Trả lời : 
							p Đối với làn da tổn thương nhẹ việc nặn mụn sẽ giảm sưng viêm, giúp lỗ chân lông thông thoáng để các thành phần hoạt tính của sản phẩm điều trị dễ dàng thẩm thấu vào sâu bên trong da, từ đó giúp đẩy nhanh quá trình phục hồi làn da tổn thương
							p Đối với làn da tổn thương nặng thì làn da rất yếu, dễ nhạy cảm với tác động bên ngoài, làn da khó tai tạo để làm lành vết thương nên dễ bị viêm nhiễm từ vi khuẩn. Thông thường đối với trường hợp này MB không khuyến khích việc nặn mụn 
							p Vì vậy, người chuyên viên tư vấn theo dõi da cho em sẽ nhận định được tình trạng làn da em có phù hợp để áp dụng liệu trình hay không và đưa ra cho em phương pháp điều trị phù hợp kết hợp giữa liệu trình và sử dụng sản phẩm tại nhà
					.list-item
						.question
							p Vậy khi nào mới điều trị mụn, nám , tàn nhang hay làm da sáng đẹp hơn được ?
							span.mdi.mdi-comment-question-outline
						.answer
							p Trả lời: Đó là khi da chúng ta đã khỏe mạnh trở lại, không còn nhạy cảm, có độ ẩm ổn, quy trình tái tạo da trở lại bình thường... thì khi đó mình mới có thể tiếp tục đi các quy trình điều trị các vấn đề khác trên da nhé mọi người.
				.container.mt-5
					.row.justify-content-center
						ul.pagination.pagination-sm.mb-0
							li.page-item
								a.page-link(href="#", title="title") 1
							li.page-item.active
								a.page-link(href="#", title="title") 2
							li.page-item
								a.page-link(href="#", title="title") 3
							li.page-item
								a.page-link(href="#", title="title") 4