section.canhcam-shop-1
	article.product-lists
		.container
			.row
				.col-md-4.col-lg-3
					.boxprice
						.title.d-flex.d-md-none.justify-content-between.align-items-center
							h3 Filter Search
							button.collapsed.btn.btn-sm(data-toggle="collapse", data-target="#filterSearch", role="button", aria-expanded="false" aria-controls="filterSearch")
								i.fa.fa-search
						form#filterSearch
							h4 Danh mục sản phẩm
							ul.list-group.list-unstyled.product-list
								li.dropdown-list.active
									h3 Loại sản phẩm
									ul.list-group.list-unstyled.type-product
										li.list-group-item
											a.nav-link.active(href="product.html") Tẩy Trang
										li.list-group-item
											a.nav-link(href="product.html") Sữa Rửa Mặt
										li.list-group-item
											a.nav-link(href="product.html") Nước Hoa Hồng
										li.list-group-item
											a.nav-link(href="product.html") Tẩy tế bào chết
										li.list-group-item
											a.nav-link(href="product.html") Mặt nạ
										li.list-group-item
											a.nav-link(href="product.html") Serum
										li.list-group-item
											a.nav-link(href="product.html") Ampoules
										li.list-group-item
											a.nav-link(href="product.html") Kem Dưỡng
										li.list-group-item
											a.nav-link(href="product.html") Kem chống nắng
										li.list-group-item
											a.nav-link(href="product.html") Mắt - Môi - Cổ
										li.list-group-item
											a.nav-link(href="product.html") Body
								li.dropdown-list
									h3 Loại da
									ul.list-group.list-unstyled.type-product(style='display: none')
										li.list-group-item
											a.nav-link(href="product.html") Da bình thường - Hỗn hợp
										li.list-group-item
											a.nav-link(href="product.html") Da nhờn - Mụn
										li.list-group-item
											a.nav-link(href="product.html") Da khô
										li.list-group-item
											a.nav-link(href="product.html") Da tổn thương - Nhạy cảm
										li.list-group-item
											a.nav-link(href="product.html") Da lão hóa
										li.list-group-item
											a.nav-link(href="product.html") Mọi loại da
								li.dropdown-list
									h3 Tình trạng da
									ul.list-group.list-unstyled.type-product(style='display: none')
										li.list-group-item
											a.nav-link(href="product.html") Thiếu ẩm
										li.list-group-item
											a.nav-link(href="product.html") Nhờn
										li.list-group-item
											a.nav-link(href="product.html") Mụn
										li.list-group-item
											a.nav-link(href="product.html") Dấu hiệu lão hóa
										li.list-group-item
											a.nav-link(href="product.html") Thâm, bọng mắt
										li.list-group-item
											a.nav-link(href="product.html") Xỉn màu
										li.list-group-item
											a.nav-link(href="product.html") Tổn thương
								li.dropdown-list
									h3 Sản phẩm giới hạn
									ul.list-group.list-unstyled.type-product(style='display: none')
										li.list-group-item
											a.nav-link(href="product.html") Viên sáng da
										li.list-group-item
											a.nav-link(href="product.html") Kem công chúa
								li.dropdown-list.none-child
									h3 
										a(href="product-professional.html") Professional
				.col-md-8.col-lg-9
					.row
						.col-12.miracle-title.text-center
							h2 DANH SÁCH SẢN PHẨM
							p.description Sử dụng những sản phẩm phù hợp theo một quy trình khoa học, bạn sẽ tiến gần hơn đến mục tiêu làm đẹp một cách nhanh chóng
					.row
						.col-12
							.product-step
								ul.navbar.nav
									li.nav-item
										a.nav-link(href="product.html") Tẩy trang
									li.nav-item
										a.nav-link(href="product.html") Kem chống nắng
									li.nav-item
										a.nav-link(href="product.html") Kem dưỡng
									li.nav-item
										a.nav-link(href="product.html") Sữa rửa mặt
									li.nav-item
										a.nav-link(href="product.html") Nước hoa hồng
									li.nav-item
										a.nav-link(href="product.html") Serum
						.col-12
							.boxproducts
								.row.no-gutters
									.col-sm-6.col-lg-4.item
										a.item-detail(href="product-professional-detail.html")
											figure
												.img
													img(src="./img/product/product-2.jpg", alt="")
												figcaption
													h2 Tên tiếng anh
														br
														| Sữa rửa mặt 2 trong 1
													p.price(style="font-weight: 300") Liên hệ
													.btn.btn-primary XEM NGAY
									.col-sm-6.col-lg-4.item
										a.item-detail(href="product-professional-detail.html")
											figure
												.img
													img(src="./img/product/product-2.jpg", alt="")
												figcaption
													h2 Tên tiếng anh
														br
														| Sữa rửa mặt cho da nhạy cảm
													p.price(style="font-weight: 300") Liên hệ
													.btn.btn-primary XEM NGAY
									.col-sm-6.col-lg-4.item
										a.item-detail(href="product-professional-detail.html")
											figure
												.img
													img(src="./img/product/product-3.jpg", alt="")
												figcaption
													h2 Tên tiếng anh
														br
														| Sữa rửa mặt cân bằng độ nhờn
													p.price(style="font-weight: 300") Liên hệ
													.btn.btn-primary XEM NGAY
									.col-sm-6.col-lg-4.item
										a.item-detail(href="product-professional-detail.html")
											figure
												.img
													img(src="./img/product/product-4.jpg", alt="")
												figcaption
													h2 Tên tiếng anh
														br
														| Sữa rửa mặt sáng da
													p.price(style="font-weight: 300") Liên hệ
													.btn.btn-primary XEM NGAY
									.col-sm-6.col-lg-4.item
										a.item-detail(href="product-professional-detail.html")
											figure
												.img
													img(src="./img/product/product-5.jpg", alt="")
												figcaption
													h2 Tên tiếng anh
														br
														| Sữa rửa mặt cho da lão hóa
													p.price(style="font-weight: 300") Liên hệ
													.btn.btn-primary XEM NGAY
									.col-sm-6.col-lg-4.item
										a.item-detail(href="product-professional-detail.html")
											figure
												.img
													img(src="./img/product/product-6.jpg", alt="")
												figcaption
													h2 Tên tiếng anh
														br
														| GEL rửa mặt cân bằng độ PH
													p.price(style="font-weight: 300") Liên hệ
													.btn.btn-primary XEM NGAY
									.col-sm-6.col-lg-4.item
										a.item-detail(href="product-professional-detail.html")
											figure
												.img
													img(src="./img/product/product-7.jpg", alt="")
												figcaption
													h2 Tên tiếng anh
														br
														| Sữa rửa mặt dịu nhẹ, chai 500ML
													p.price(style="font-weight: 300") Liên hệ
													.btn.btn-primary XEM NGAY
									.col-sm-6.col-lg-4.item
										a.item-detail(href="product-professional-detail.html")
											figure
												.img
													img(src="./img/product/product-8.jpg", alt="")
												figcaption
													h2 Tên tiếng anh
														br
														| Sửa rửa mặt tạo bọt
													p.price(style="font-weight: 300") Liên hệ
													.btn.btn-primary XEM NGAY
									.col-sm-6.col-lg-4.item
										a.item-detail(href="product-professional-detail.html")
											figure
												.img
													img(src="./img/product/product-9.jpg", alt="")
												figcaption
													h2 Tên tiếng anh
														br
														| Sữa rửa mặt cân bằng độ nhờn
													p.price(style="font-weight: 300") Liên hệ
													.btn.btn-primary XEM NGAY
					.row.justify-content-center
						ul.pagination.pagination-sm.mb-0
							li.page-item
								a.page-link(href="#", title="title") 1
							li.page-item.active
								a.page-link(href="#", title="title") 2
							li.page-item
								a.page-link(href="#", title="title") 3
							li.page-item
								a.page-link(href="#", title="title") 4