.row.justify-content-center.mb-4
	ul#tab.nav.nav-pills.canhcam-nav-2(role='tablist')
		li.nav-item
			a.nav-link.active(href='news.html') KHUYẾN MÃI
		li.nav-item
			a.nav-link(href='gallery.html') THƯ VIỆN ẢNH
		li.nav-item
			a.nav-link(href='video.html') THƯ VIỆNVIDEO