section.canhcam-boxes-1
	.container
		.row.miracle-title.text-center
			.col
				h2 VỊ TRÍ TUYỂN DỤNG
		.row
			.col
				.job-table
					.job
						.job-title.row.m-0
							.col-1 
								p 1
							.col-9.d-flex
								p Trưởng chi nhánh Hà Nội
								span.badge.badge-danger Mới 
							.col-2.d-flex.align-items-center
								p 27/07/2018
						.job-content
							.content
								p
									strong Nơi làm việc: Hà Nội, Hồ Chí Minh
								p Trách nhiệm của bạn ở vị trí này là tối đa hóa doanh thu thông qua việc hỗ trợ khách hàng lựa chọn và mua các sản phẩm chăm sóc da cao cấp. Bạn cũng sẽ có trách nhiệm quản lý các chuyên gia tư vấn chăm sóc da cấp dưới  tại văn phòng TP Hồ Chí Minh.
								p
									strong Quyền lợi
								p - Lương thỏa thuận + thưởng theo năng lực
								p - Lương tháng 13, du lịch nước ngoài hằng năm và các quyền lợi khác theo chính sách đãi ngộ của công ty.
								p - Hưởng đầy đủ các chế độ theo Luật pháp Việt Nam quy định
								p Ở vị trí Trưởng bộ phận tư vấn ,bạn sẽ thực hiện các  nhiệm vụ chủ yếu và đáp ứng các yêu cầu sau đây:
								p
									strong Nhiệm vụ:
								p - Kiểm tra, xem xét trực tiếp trên làn da thực thế của khách hàng để có những nhận định chính xác về tình trạng da hiện tại của từng khách hàng.
								p - Đề xuất các giải pháp điều trị phù hợp với từng khách hàng cụ thể.
								p - Chịu trách nhiệm đảm bảo doanh số bán hàng trong từng giai đoạn.
								p - Am hiểu một cách thông suốt về tất cả sản phẩm của công ty Miracle Beaute.
								p - Xây dựng  một dịch vụ chăm sóc khách hàng chu đáo và thân thiện nhất.
								p - Tạo dựng và duy trì tinh thần đồng đội, một môi trường làm việc năng động và thân thiện.
								p - Đào tạo và hướng dẫn các nhân viên mới.
								p - Báo cáo cho cấp trên hàng tuần, hàng tháng, hàng quý và hàng năm.
								p - Có khả năng bán hàng và tiếp thị tốt. Thường xuyên đề xuất các giải pháp bán hàng và tiếp thị để nâng cao doanh số và xây dựng hình ảnh tốt cho công ty.
								p - Xác lập mục tiêu và chiến lược dài hạn, đề xuất các phương pháp thực hiện cụ thể để đạt được mục tiêu đó.
								p - Thúc đẩy, động viên, hướng dẫn các nhân viên về kỹ năng bán hàng, tư vấn để đạt được doanh số đã đề ra.
								p - Lên kế hoạch và thực hiện các buổi hội thảo, offline của công ty theo định kỳ.
								p - Liên kết với bộ phận bán hàng và tiếp thị để nâng cao doanh số và hiệu quả truyền thông.
								p - Thể hiện được tư tưởng và  phong cách của một người lãnh đạo.
								p - Có những ý tưởng, giải pháp sáng tạo để nâng cao khả năng của các nhân viên dưới quyền.
								p - Có  kỹ năng xử lý các vấn đề một cách linh hoạt và hiệu quả nhất.
								a.btn.btn-primary(href='#') ỨNG TUYỂN NGAY
					.job
						.job-title.row.m-0
							.col-1
								p 2
							.col-9.d-flex
								p Chuyên viên tư vấn da
								span.badge.badge-danger Mới 
							.col-2.d-flex.align-items-center
								p 27/07/2018
						.job-content
							.content
								p
									strong Nơi làm việc: Hà Nội, Hồ Chí Minh
								p Trách nhiệm của bạn ở vị trí này là tối đa hóa doanh thu thông qua việc hỗ trợ khách hàng lựa chọn và mua các sản phẩm chăm sóc da cao cấp. Bạn cũng sẽ có trách nhiệm quản lý các chuyên gia tư vấn chăm sóc da cấp dưới  tại văn phòng TP Hồ Chí Minh.
								p
									strong Quyền lợi
								p - Lương thỏa thuận + thưởng theo năng lực
								p - Lương tháng 13, du lịch nước ngoài hằng năm và các quyền lợi khác theo chính sách đãi ngộ của công ty.
								p - Hưởng đầy đủ các chế độ theo Luật pháp Việt Nam quy định
								p Ở vị trí Trưởng bộ phận tư vấn ,bạn sẽ thực hiện các  nhiệm vụ chủ yếu và đáp ứng các yêu cầu sau đây:
								p
									strong Nhiệm vụ:
								p - Kiểm tra, xem xét trực tiếp trên làn da thực thế của khách hàng để có những nhận định chính xác về tình trạng da hiện tại của từng khách hàng.
								p - Đề xuất các giải pháp điều trị phù hợp với từng khách hàng cụ thể.
								p - Chịu trách nhiệm đảm bảo doanh số bán hàng trong từng giai đoạn.
								p - Am hiểu một cách thông suốt về tất cả sản phẩm của công ty Miracle Beaute.
								p - Xây dựng  một dịch vụ chăm sóc khách hàng chu đáo và thân thiện nhất.
								p - Tạo dựng và duy trì tinh thần đồng đội, một môi trường làm việc năng động và thân thiện.
								p - Đào tạo và hướng dẫn các nhân viên mới.
								p - Báo cáo cho cấp trên hàng tuần, hàng tháng, hàng quý và hàng năm.
								p - Có khả năng bán hàng và tiếp thị tốt. Thường xuyên đề xuất các giải pháp bán hàng và tiếp thị để nâng cao doanh số và xây dựng hình ảnh tốt cho công ty.
								p - Xác lập mục tiêu và chiến lược dài hạn, đề xuất các phương pháp thực hiện cụ thể để đạt được mục tiêu đó.
								p - Thúc đẩy, động viên, hướng dẫn các nhân viên về kỹ năng bán hàng, tư vấn để đạt được doanh số đã đề ra.
								p - Lên kế hoạch và thực hiện các buổi hội thảo, offline của công ty theo định kỳ.
								p - Liên kết với bộ phận bán hàng và tiếp thị để nâng cao doanh số và hiệu quả truyền thông.
								p - Thể hiện được tư tưởng và  phong cách của một người lãnh đạo.
								p - Có những ý tưởng, giải pháp sáng tạo để nâng cao khả năng của các nhân viên dưới quyền.
								p - Có  kỹ năng xử lý các vấn đề một cách linh hoạt và hiệu quả nhất.
								a.btn.btn-primary(href='#') ỨNG TUYỂN NGAY
					.job
						.job-title.row.m-0
							.col-1
								p 3
							.col-9.d-flex
								p Tuyển nhân viên
								span.badge.badge-danger Mới 
							.col-2.d-flex.align-items-center
								p 27/07/2018
						.job-content 
							.content
								p
									strong Nơi làm việc: Hà Nội, Hồ Chí Minh
								p Trách nhiệm của bạn ở vị trí này là tối đa hóa doanh thu thông qua việc hỗ trợ khách hàng lựa chọn và mua các sản phẩm chăm sóc da cao cấp. Bạn cũng sẽ có trách nhiệm quản lý các chuyên gia tư vấn chăm sóc da cấp dưới  tại văn phòng TP Hồ Chí Minh.
								p
									strong Quyền lợi
								p - Lương thỏa thuận + thưởng theo năng lực
								p - Lương tháng 13, du lịch nước ngoài hằng năm và các quyền lợi khác theo chính sách đãi ngộ của công ty.
								p - Hưởng đầy đủ các chế độ theo Luật pháp Việt Nam quy định
								p Ở vị trí Trưởng bộ phận tư vấn ,bạn sẽ thực hiện các  nhiệm vụ chủ yếu và đáp ứng các yêu cầu sau đây:
								p
									strong Nhiệm vụ:
								p - Kiểm tra, xem xét trực tiếp trên làn da thực thế của khách hàng để có những nhận định chính xác về tình trạng da hiện tại của từng khách hàng.
								p - Đề xuất các giải pháp điều trị phù hợp với từng khách hàng cụ thể.
								p - Chịu trách nhiệm đảm bảo doanh số bán hàng trong từng giai đoạn.
								p - Am hiểu một cách thông suốt về tất cả sản phẩm của công ty Miracle Beaute.
								p - Xây dựng  một dịch vụ chăm sóc khách hàng chu đáo và thân thiện nhất.
								p - Tạo dựng và duy trì tinh thần đồng đội, một môi trường làm việc năng động và thân thiện.
								p - Đào tạo và hướng dẫn các nhân viên mới.
								p - Báo cáo cho cấp trên hàng tuần, hàng tháng, hàng quý và hàng năm.
								p - Có khả năng bán hàng và tiếp thị tốt. Thường xuyên đề xuất các giải pháp bán hàng và tiếp thị để nâng cao doanh số và xây dựng hình ảnh tốt cho công ty.
								p - Xác lập mục tiêu và chiến lược dài hạn, đề xuất các phương pháp thực hiện cụ thể để đạt được mục tiêu đó.
								p - Thúc đẩy, động viên, hướng dẫn các nhân viên về kỹ năng bán hàng, tư vấn để đạt được doanh số đã đề ra.
								p - Lên kế hoạch và thực hiện các buổi hội thảo, offline của công ty theo định kỳ.
								p - Liên kết với bộ phận bán hàng và tiếp thị để nâng cao doanh số và hiệu quả truyền thông.
								p - Thể hiện được tư tưởng và  phong cách của một người lãnh đạo.
								p - Có những ý tưởng, giải pháp sáng tạo để nâng cao khả năng của các nhân viên dưới quyền.
								p - Có  kỹ năng xử lý các vấn đề một cách linh hoạt và hiệu quả nhất.
								a.btn.btn-primary(href='#') ỨNG TUYỂN NGAY
					.job
						.job-title.row.m-0
							.col-1
								p 4
							.col-9.d-flex
								p Tuyển nhân viên
								span.badge.badge-danger Mới 
							.col-2.d-flex.align-items-center
								p 27/07/2018
						.job-content
							.content
								p
									strong Nơi làm việc: Hà Nội, Hồ Chí Minh
								p Trách nhiệm của bạn ở vị trí này là tối đa hóa doanh thu thông qua việc hỗ trợ khách hàng lựa chọn và mua các sản phẩm chăm sóc da cao cấp. Bạn cũng sẽ có trách nhiệm quản lý các chuyên gia tư vấn chăm sóc da cấp dưới  tại văn phòng TP Hồ Chí Minh.
								p
									strong Quyền lợi
								p - Lương thỏa thuận + thưởng theo năng lực
								p - Lương tháng 13, du lịch nước ngoài hằng năm và các quyền lợi khác theo chính sách đãi ngộ của công ty.
								p - Hưởng đầy đủ các chế độ theo Luật pháp Việt Nam quy định
								p Ở vị trí Trưởng bộ phận tư vấn ,bạn sẽ thực hiện các  nhiệm vụ chủ yếu và đáp ứng các yêu cầu sau đây:
								p
									strong Nhiệm vụ:
								p - Kiểm tra, xem xét trực tiếp trên làn da thực thế của khách hàng để có những nhận định chính xác về tình trạng da hiện tại của từng khách hàng.
								p - Đề xuất các giải pháp điều trị phù hợp với từng khách hàng cụ thể.
								p - Chịu trách nhiệm đảm bảo doanh số bán hàng trong từng giai đoạn.
								p - Am hiểu một cách thông suốt về tất cả sản phẩm của công ty Miracle Beaute.
								p - Xây dựng  một dịch vụ chăm sóc khách hàng chu đáo và thân thiện nhất.
								p - Tạo dựng và duy trì tinh thần đồng đội, một môi trường làm việc năng động và thân thiện.
								p - Đào tạo và hướng dẫn các nhân viên mới.
								p - Báo cáo cho cấp trên hàng tuần, hàng tháng, hàng quý và hàng năm.
								p - Có khả năng bán hàng và tiếp thị tốt. Thường xuyên đề xuất các giải pháp bán hàng và tiếp thị để nâng cao doanh số và xây dựng hình ảnh tốt cho công ty.
								p - Xác lập mục tiêu và chiến lược dài hạn, đề xuất các phương pháp thực hiện cụ thể để đạt được mục tiêu đó.
								p - Thúc đẩy, động viên, hướng dẫn các nhân viên về kỹ năng bán hàng, tư vấn để đạt được doanh số đã đề ra.
								p - Lên kế hoạch và thực hiện các buổi hội thảo, offline của công ty theo định kỳ.
								p - Liên kết với bộ phận bán hàng và tiếp thị để nâng cao doanh số và hiệu quả truyền thông.
								p - Thể hiện được tư tưởng và  phong cách của một người lãnh đạo.
								p - Có những ý tưởng, giải pháp sáng tạo để nâng cao khả năng của các nhân viên dưới quyền.
								p - Có  kỹ năng xử lý các vấn đề một cách linh hoạt và hiệu quả nhất.
								a.btn.btn-primary(href='#') ỨNG TUYỂN NGAY
					.job
						.job-title.row.m-0
							.col-1
								p 5
							.col-9.d-flex
								p Tuyển nhân viên
								span.badge.badge-danger
							.col-2.d-flex.align-items-center
								p 27/07/2018
						.job-content
							.content
								p
									strong Nơi làm việc: Hà Nội, Hồ Chí Minh
								p Trách nhiệm của bạn ở vị trí này là tối đa hóa doanh thu thông qua việc hỗ trợ khách hàng lựa chọn và mua các sản phẩm chăm sóc da cao cấp. Bạn cũng sẽ có trách nhiệm quản lý các chuyên gia tư vấn chăm sóc da cấp dưới  tại văn phòng TP Hồ Chí Minh.
								p
									strong Quyền lợi
								p - Lương thỏa thuận + thưởng theo năng lực
								p - Lương tháng 13, du lịch nước ngoài hằng năm và các quyền lợi khác theo chính sách đãi ngộ của công ty.
								p - Hưởng đầy đủ các chế độ theo Luật pháp Việt Nam quy định
								p Ở vị trí Trưởng bộ phận tư vấn ,bạn sẽ thực hiện các  nhiệm vụ chủ yếu và đáp ứng các yêu cầu sau đây:
								p
									strong Nhiệm vụ:
								p - Kiểm tra, xem xét trực tiếp trên làn da thực thế của khách hàng để có những nhận định chính xác về tình trạng da hiện tại của từng khách hàng.
								p - Đề xuất các giải pháp điều trị phù hợp với từng khách hàng cụ thể.
								p - Chịu trách nhiệm đảm bảo doanh số bán hàng trong từng giai đoạn.
								p - Am hiểu một cách thông suốt về tất cả sản phẩm của công ty Miracle Beaute.
								p - Xây dựng  một dịch vụ chăm sóc khách hàng chu đáo và thân thiện nhất.
								p - Tạo dựng và duy trì tinh thần đồng đội, một môi trường làm việc năng động và thân thiện.
								p - Đào tạo và hướng dẫn các nhân viên mới.
								p - Báo cáo cho cấp trên hàng tuần, hàng tháng, hàng quý và hàng năm.
								p - Có khả năng bán hàng và tiếp thị tốt. Thường xuyên đề xuất các giải pháp bán hàng và tiếp thị để nâng cao doanh số và xây dựng hình ảnh tốt cho công ty.
								p - Xác lập mục tiêu và chiến lược dài hạn, đề xuất các phương pháp thực hiện cụ thể để đạt được mục tiêu đó.
								p - Thúc đẩy, động viên, hướng dẫn các nhân viên về kỹ năng bán hàng, tư vấn để đạt được doanh số đã đề ra.
								p - Lên kế hoạch và thực hiện các buổi hội thảo, offline của công ty theo định kỳ.
								p - Liên kết với bộ phận bán hàng và tiếp thị để nâng cao doanh số và hiệu quả truyền thông.
								p - Thể hiện được tư tưởng và  phong cách của một người lãnh đạo.
								p - Có những ý tưởng, giải pháp sáng tạo để nâng cao khả năng của các nhân viên dưới quyền.
								p - Có  kỹ năng xử lý các vấn đề một cách linh hoạt và hiệu quả nhất.
								a.btn.btn-primary(href='#') ỨNG TUYỂN NGAY
					.job
						.job-title.row.m-0
							.col-1
								p 6
							.col-9.d-flex
								p Tuyển nhân viên
							.col-2.d-flex.align-items-center
								p 27/07/2018
						.job-content
							.content
								p
									strong Nơi làm việc: Hà Nội, Hồ Chí Minh
								p Trách nhiệm của bạn ở vị trí này là tối đa hóa doanh thu thông qua việc hỗ trợ khách hàng lựa chọn và mua các sản phẩm chăm sóc da cao cấp. Bạn cũng sẽ có trách nhiệm quản lý các chuyên gia tư vấn chăm sóc da cấp dưới  tại văn phòng TP Hồ Chí Minh.
								p
									strong Quyền lợi
								p - Lương thỏa thuận + thưởng theo năng lực
								p - Lương tháng 13, du lịch nước ngoài hằng năm và các quyền lợi khác theo chính sách đãi ngộ của công ty.
								p - Hưởng đầy đủ các chế độ theo Luật pháp Việt Nam quy định
								p Ở vị trí Trưởng bộ phận tư vấn ,bạn sẽ thực hiện các  nhiệm vụ chủ yếu và đáp ứng các yêu cầu sau đây:
								p
									strong Nhiệm vụ:
								p - Kiểm tra, xem xét trực tiếp trên làn da thực thế của khách hàng để có những nhận định chính xác về tình trạng da hiện tại của từng khách hàng.
								p - Đề xuất các giải pháp điều trị phù hợp với từng khách hàng cụ thể.
								p - Chịu trách nhiệm đảm bảo doanh số bán hàng trong từng giai đoạn.
								p - Am hiểu một cách thông suốt về tất cả sản phẩm của công ty Miracle Beaute.
								p - Xây dựng  một dịch vụ chăm sóc khách hàng chu đáo và thân thiện nhất.
								p - Tạo dựng và duy trì tinh thần đồng đội, một môi trường làm việc năng động và thân thiện.
								p - Đào tạo và hướng dẫn các nhân viên mới.
								p - Báo cáo cho cấp trên hàng tuần, hàng tháng, hàng quý và hàng năm.
								p - Có khả năng bán hàng và tiếp thị tốt. Thường xuyên đề xuất các giải pháp bán hàng và tiếp thị để nâng cao doanh số và xây dựng hình ảnh tốt cho công ty.
								p - Xác lập mục tiêu và chiến lược dài hạn, đề xuất các phương pháp thực hiện cụ thể để đạt được mục tiêu đó.
								p - Thúc đẩy, động viên, hướng dẫn các nhân viên về kỹ năng bán hàng, tư vấn để đạt được doanh số đã đề ra.
								p - Lên kế hoạch và thực hiện các buổi hội thảo, offline của công ty theo định kỳ.
								p - Liên kết với bộ phận bán hàng và tiếp thị để nâng cao doanh số và hiệu quả truyền thông.
								p - Thể hiện được tư tưởng và  phong cách của một người lãnh đạo.
								p - Có những ý tưởng, giải pháp sáng tạo để nâng cao khả năng của các nhân viên dưới quyền.
								p - Có  kỹ năng xử lý các vấn đề một cách linh hoạt và hiệu quả nhất.
								a.btn.btn-primary(href='#') ỨNG TUYỂN NGAY
					.job
						.job-title.row.m-0
							.col-1
								p 7
							.col-9.d-flex
								p Tuyển nhân viên
							.col-2.d-flex.align-items-center
								p 27/07/2018
						.job-content
							.content
								p
									strong Nơi làm việc: Hà Nội, Hồ Chí Minh
								p Trách nhiệm của bạn ở vị trí này là tối đa hóa doanh thu thông qua việc hỗ trợ khách hàng lựa chọn và mua các sản phẩm chăm sóc da cao cấp. Bạn cũng sẽ có trách nhiệm quản lý các chuyên gia tư vấn chăm sóc da cấp dưới  tại văn phòng TP Hồ Chí Minh.
								p
									strong Quyền lợi
								p - Lương thỏa thuận + thưởng theo năng lực
								p - Lương tháng 13, du lịch nước ngoài hằng năm và các quyền lợi khác theo chính sách đãi ngộ của công ty.
								p - Hưởng đầy đủ các chế độ theo Luật pháp Việt Nam quy định
								p Ở vị trí Trưởng bộ phận tư vấn ,bạn sẽ thực hiện các  nhiệm vụ chủ yếu và đáp ứng các yêu cầu sau đây:
								p
									strong Nhiệm vụ:
								p - Kiểm tra, xem xét trực tiếp trên làn da thực thế của khách hàng để có những nhận định chính xác về tình trạng da hiện tại của từng khách hàng.
								p - Đề xuất các giải pháp điều trị phù hợp với từng khách hàng cụ thể.
								p - Chịu trách nhiệm đảm bảo doanh số bán hàng trong từng giai đoạn.
								p - Am hiểu một cách thông suốt về tất cả sản phẩm của công ty Miracle Beaute.
								p - Xây dựng  một dịch vụ chăm sóc khách hàng chu đáo và thân thiện nhất.
								p - Tạo dựng và duy trì tinh thần đồng đội, một môi trường làm việc năng động và thân thiện.
								p - Đào tạo và hướng dẫn các nhân viên mới.
								p - Báo cáo cho cấp trên hàng tuần, hàng tháng, hàng quý và hàng năm.
								p - Có khả năng bán hàng và tiếp thị tốt. Thường xuyên đề xuất các giải pháp bán hàng và tiếp thị để nâng cao doanh số và xây dựng hình ảnh tốt cho công ty.
								p - Xác lập mục tiêu và chiến lược dài hạn, đề xuất các phương pháp thực hiện cụ thể để đạt được mục tiêu đó.
								p - Thúc đẩy, động viên, hướng dẫn các nhân viên về kỹ năng bán hàng, tư vấn để đạt được doanh số đã đề ra.
								p - Lên kế hoạch và thực hiện các buổi hội thảo, offline của công ty theo định kỳ.
								p - Liên kết với bộ phận bán hàng và tiếp thị để nâng cao doanh số và hiệu quả truyền thông.
								p - Thể hiện được tư tưởng và  phong cách của một người lãnh đạo.
								p - Có những ý tưởng, giải pháp sáng tạo để nâng cao khả năng của các nhân viên dưới quyền.
								p - Có  kỹ năng xử lý các vấn đề một cách linh hoạt và hiệu quả nhất.
								a.btn.btn-primary(href='#') ỨNG TUYỂN NGAY