section.canhcam-boxes-1
	.container
		.row.miracle-title.text-center
			.col
				h2 VỊ TRÍ TUYỂN DỤNG
		.row
			.col
				.job-table
					.job
						.job-title.row.m-0
							.col-1 
								p 01
							.col-9.d-flex
								p Kỹ thuật viên lấy mụn
								span.badge Mới 
							.col-2.d-flex.align-items-center
								p 27/07/2018
						.job-content
							.content
								p
									strong Quyền lợi:
								p - Lương: 7 - 15 triệu (tùy năng lực)
								p - Cơ hội học tập nâng cao kỹ năng tại Pháp
								p - Chuyên gia từ Pháp đào tạo định kỳ nâng cao kỹ năng 
								p - Lương tháng 13, du lịch nước ngoài hằng năm và các quyền lợi khác theo chính sách đãi ngộ của công ty.
								p - Hưởng đầy đủ các chế độ theo Luật pháp Việt Nam quy định
								p
									strong Mô tả công việc:
								p - Lấy mụn trên da mặt khách hàng và báo cáo tình trạng da sau mỗi lần làm liệu trình
								p - Hướng dẫn khách hàng sử dụng sản phẩm theo quy trình phù hợp
								p - Am hiểu về tất cả sản phẩm của công ty, giới thiệu và đề xuất những sản phẩm phù hợp để mang lại hiệu quả tốt nhất cho khách hàng.
								p - Lưu trữ đầy đủ thông tin khách hàng và chăm sóc khách hàng thường xuyên
								p - Tham gia vào các hội thảo, sự kiện, offline của công ty nếu có yêu cầu từ công ty

								p
									strong Yêu cầu:
								p - Tốt nghiệp trung học Phổ Thông trở lên.
								p - Thái độ làm việc chuyên nghiệp và cách xử lý tình huống linh hoạt.
								p - Sử dụng sản phẩm lên trên da mặt của khách theo đúng quy trình đào tạo từ Miracle Beaute 
								p - Hiểu rằng chăm sóc da chính là một phần không thể thiếu để có một sức khỏe toàn diện.
								p - Chịu được áp lực công việc, có thể đi công tác, tăng ca và làm việc vào ngày cuối tuần khi có yêu cầu từ công ty.
								p
									strong Nộp hồ sơ:
								p - Email: tuyendung@miraclebeaute.com
								p - Điện thoại: 0901 33 80 77 (Mr Hòa)
								p - Địa chỉ: 
								p 122/19 Đặng Văn Ngữ, Phường 14, Quận Phú Nhuận, Tp HCM
								p 3 Nguyễn Như Đổ, Văn Miếu, Quận Đống Đa, Tp Hà Nội
								a.btn.btn-primary(href='#') ỨNG TUYỂN NGAY
					.job
						.job-title.row.m-0
							.col-1
								p 02
							.col-9.d-flex
								p Chuyên viên tư vấn da
								span.badge Mới 
							.col-2.d-flex.align-items-center
								p 27/07/2018
						.job-content
							.content
								p
									strong Nơi làm việc: Hà Nội, Hồ Chí Minh
								p Trách nhiệm của bạn ở vị trí này là tối đa hóa doanh thu thông qua việc hỗ trợ khách hàng lựa chọn và mua các sản phẩm chăm sóc da cao cấp. Bạn cũng sẽ có trách nhiệm quản lý các chuyên gia tư vấn chăm sóc da cấp dưới  tại văn phòng TP Hồ Chí Minh.
								p
									strong Quyền lợi
								p - Lương thỏa thuận + thưởng theo năng lực
								p - Lương tháng 13, du lịch nước ngoài hằng năm và các quyền lợi khác theo chính sách đãi ngộ của công ty.
								p - Hưởng đầy đủ các chế độ theo Luật pháp Việt Nam quy định
								p Ở vị trí Trưởng bộ phận tư vấn ,bạn sẽ thực hiện các  nhiệm vụ chủ yếu và đáp ứng các yêu cầu sau đây:
								p
									strong Nhiệm vụ:
								p - Kiểm tra, xem xét trực tiếp trên làn da thực thế của khách hàng để có những nhận định chính xác về tình trạng da hiện tại của từng khách hàng.
								p - Đề xuất các giải pháp điều trị phù hợp với từng khách hàng cụ thể.
								p - Chịu trách nhiệm đảm bảo doanh số bán hàng trong từng giai đoạn.
								p - Am hiểu một cách thông suốt về tất cả sản phẩm của công ty Miracle Beaute.
								p - Xây dựng  một dịch vụ chăm sóc khách hàng chu đáo và thân thiện nhất.
								p - Tạo dựng và duy trì tinh thần đồng đội, một môi trường làm việc năng động và thân thiện.
								p - Đào tạo và hướng dẫn các nhân viên mới.
								p - Báo cáo cho cấp trên hàng tuần, hàng tháng, hàng quý và hàng năm.
								p - Có khả năng bán hàng và tiếp thị tốt. Thường xuyên đề xuất các giải pháp bán hàng và tiếp thị để nâng cao doanh số và xây dựng hình ảnh tốt cho công ty.
								p - Xác lập mục tiêu và chiến lược dài hạn, đề xuất các phương pháp thực hiện cụ thể để đạt được mục tiêu đó.
								p - Thúc đẩy, động viên, hướng dẫn các nhân viên về kỹ năng bán hàng, tư vấn để đạt được doanh số đã đề ra.
								p - Lên kế hoạch và thực hiện các buổi hội thảo, offline của công ty theo định kỳ.
								p - Liên kết với bộ phận bán hàng và tiếp thị để nâng cao doanh số và hiệu quả truyền thông.
								p - Thể hiện được tư tưởng và  phong cách của một người lãnh đạo.
								p - Có những ý tưởng, giải pháp sáng tạo để nâng cao khả năng của các nhân viên dưới quyền.
								p - Có  kỹ năng xử lý các vấn đề một cách linh hoạt và hiệu quả nhất.
								a.btn.btn-primary(href='#') ỨNG TUYỂN NGAY
					.job
						.job-title.row.m-0
							.col-1
								p 03
							.col-9.d-flex
								p Tuyển nhân viên
								span.badge Mới 
							.col-2.d-flex.align-items-center
								p 27/07/2018
						.job-content 
							.content
								p
									strong Nơi làm việc: Hà Nội, Hồ Chí Minh
								p Trách nhiệm của bạn ở vị trí này là tối đa hóa doanh thu thông qua việc hỗ trợ khách hàng lựa chọn và mua các sản phẩm chăm sóc da cao cấp. Bạn cũng sẽ có trách nhiệm quản lý các chuyên gia tư vấn chăm sóc da cấp dưới  tại văn phòng TP Hồ Chí Minh.
								p
									strong Quyền lợi
								p - Lương thỏa thuận + thưởng theo năng lực
								p - Lương tháng 13, du lịch nước ngoài hằng năm và các quyền lợi khác theo chính sách đãi ngộ của công ty.
								p - Hưởng đầy đủ các chế độ theo Luật pháp Việt Nam quy định
								p Ở vị trí Trưởng bộ phận tư vấn ,bạn sẽ thực hiện các  nhiệm vụ chủ yếu và đáp ứng các yêu cầu sau đây:
								p
									strong Nhiệm vụ:
								p - Kiểm tra, xem xét trực tiếp trên làn da thực thế của khách hàng để có những nhận định chính xác về tình trạng da hiện tại của từng khách hàng.
								p - Đề xuất các giải pháp điều trị phù hợp với từng khách hàng cụ thể.
								p - Chịu trách nhiệm đảm bảo doanh số bán hàng trong từng giai đoạn.
								p - Am hiểu một cách thông suốt về tất cả sản phẩm của công ty Miracle Beaute.
								p - Xây dựng  một dịch vụ chăm sóc khách hàng chu đáo và thân thiện nhất.
								p - Tạo dựng và duy trì tinh thần đồng đội, một môi trường làm việc năng động và thân thiện.
								p - Đào tạo và hướng dẫn các nhân viên mới.
								p - Báo cáo cho cấp trên hàng tuần, hàng tháng, hàng quý và hàng năm.
								p - Có khả năng bán hàng và tiếp thị tốt. Thường xuyên đề xuất các giải pháp bán hàng và tiếp thị để nâng cao doanh số và xây dựng hình ảnh tốt cho công ty.
								p - Xác lập mục tiêu và chiến lược dài hạn, đề xuất các phương pháp thực hiện cụ thể để đạt được mục tiêu đó.
								p - Thúc đẩy, động viên, hướng dẫn các nhân viên về kỹ năng bán hàng, tư vấn để đạt được doanh số đã đề ra.
								p - Lên kế hoạch và thực hiện các buổi hội thảo, offline của công ty theo định kỳ.
								p - Liên kết với bộ phận bán hàng và tiếp thị để nâng cao doanh số và hiệu quả truyền thông.
								p - Thể hiện được tư tưởng và  phong cách của một người lãnh đạo.
								p - Có những ý tưởng, giải pháp sáng tạo để nâng cao khả năng của các nhân viên dưới quyền.
								p - Có  kỹ năng xử lý các vấn đề một cách linh hoạt và hiệu quả nhất.
								a.btn.btn-primary(href='#') ỨNG TUYỂN NGAY
					.job
						.job-title.row.m-0
							.col-1
								p 04
							.col-9.d-flex
								p Tuyển nhân viên
								span.badge Mới 
							.col-2.d-flex.align-items-center
								p 27/07/2018
						.job-content
							.content
								p
									strong Nơi làm việc: Hà Nội, Hồ Chí Minh
								p Trách nhiệm của bạn ở vị trí này là tối đa hóa doanh thu thông qua việc hỗ trợ khách hàng lựa chọn và mua các sản phẩm chăm sóc da cao cấp. Bạn cũng sẽ có trách nhiệm quản lý các chuyên gia tư vấn chăm sóc da cấp dưới  tại văn phòng TP Hồ Chí Minh.
								p
									strong Quyền lợi
								p - Lương thỏa thuận + thưởng theo năng lực
								p - Lương tháng 13, du lịch nước ngoài hằng năm và các quyền lợi khác theo chính sách đãi ngộ của công ty.
								p - Hưởng đầy đủ các chế độ theo Luật pháp Việt Nam quy định
								p Ở vị trí Trưởng bộ phận tư vấn ,bạn sẽ thực hiện các  nhiệm vụ chủ yếu và đáp ứng các yêu cầu sau đây:
								p
									strong Nhiệm vụ:
								p - Kiểm tra, xem xét trực tiếp trên làn da thực thế của khách hàng để có những nhận định chính xác về tình trạng da hiện tại của từng khách hàng.
								p - Đề xuất các giải pháp điều trị phù hợp với từng khách hàng cụ thể.
								p - Chịu trách nhiệm đảm bảo doanh số bán hàng trong từng giai đoạn.
								p - Am hiểu một cách thông suốt về tất cả sản phẩm của công ty Miracle Beaute.
								p - Xây dựng  một dịch vụ chăm sóc khách hàng chu đáo và thân thiện nhất.
								p - Tạo dựng và duy trì tinh thần đồng đội, một môi trường làm việc năng động và thân thiện.
								p - Đào tạo và hướng dẫn các nhân viên mới.
								p - Báo cáo cho cấp trên hàng tuần, hàng tháng, hàng quý và hàng năm.
								p - Có khả năng bán hàng và tiếp thị tốt. Thường xuyên đề xuất các giải pháp bán hàng và tiếp thị để nâng cao doanh số và xây dựng hình ảnh tốt cho công ty.
								p - Xác lập mục tiêu và chiến lược dài hạn, đề xuất các phương pháp thực hiện cụ thể để đạt được mục tiêu đó.
								p - Thúc đẩy, động viên, hướng dẫn các nhân viên về kỹ năng bán hàng, tư vấn để đạt được doanh số đã đề ra.
								p - Lên kế hoạch và thực hiện các buổi hội thảo, offline của công ty theo định kỳ.
								p - Liên kết với bộ phận bán hàng và tiếp thị để nâng cao doanh số và hiệu quả truyền thông.
								p - Thể hiện được tư tưởng và  phong cách của một người lãnh đạo.
								p - Có những ý tưởng, giải pháp sáng tạo để nâng cao khả năng của các nhân viên dưới quyền.
								p - Có  kỹ năng xử lý các vấn đề một cách linh hoạt và hiệu quả nhất.
								a.btn.btn-primary(href='#') ỨNG TUYỂN NGAY
					.job
						.job-title.row.m-0
							.col-1
								p 05
							.col-9.d-flex
								p Tuyển nhân viên
								span.badge
							.col-2.d-flex.align-items-center
								p 27/07/2018
						.job-content
							.content
								p
									strong Nơi làm việc: Hà Nội, Hồ Chí Minh
								p Trách nhiệm của bạn ở vị trí này là tối đa hóa doanh thu thông qua việc hỗ trợ khách hàng lựa chọn và mua các sản phẩm chăm sóc da cao cấp. Bạn cũng sẽ có trách nhiệm quản lý các chuyên gia tư vấn chăm sóc da cấp dưới  tại văn phòng TP Hồ Chí Minh.
								p
									strong Quyền lợi
								p - Lương thỏa thuận + thưởng theo năng lực
								p - Lương tháng 13, du lịch nước ngoài hằng năm và các quyền lợi khác theo chính sách đãi ngộ của công ty.
								p - Hưởng đầy đủ các chế độ theo Luật pháp Việt Nam quy định
								p Ở vị trí Trưởng bộ phận tư vấn ,bạn sẽ thực hiện các  nhiệm vụ chủ yếu và đáp ứng các yêu cầu sau đây:
								p
									strong Nhiệm vụ:
								p - Kiểm tra, xem xét trực tiếp trên làn da thực thế của khách hàng để có những nhận định chính xác về tình trạng da hiện tại của từng khách hàng.
								p - Đề xuất các giải pháp điều trị phù hợp với từng khách hàng cụ thể.
								p - Chịu trách nhiệm đảm bảo doanh số bán hàng trong từng giai đoạn.
								p - Am hiểu một cách thông suốt về tất cả sản phẩm của công ty Miracle Beaute.
								p - Xây dựng  một dịch vụ chăm sóc khách hàng chu đáo và thân thiện nhất.
								p - Tạo dựng và duy trì tinh thần đồng đội, một môi trường làm việc năng động và thân thiện.
								p - Đào tạo và hướng dẫn các nhân viên mới.
								p - Báo cáo cho cấp trên hàng tuần, hàng tháng, hàng quý và hàng năm.
								p - Có khả năng bán hàng và tiếp thị tốt. Thường xuyên đề xuất các giải pháp bán hàng và tiếp thị để nâng cao doanh số và xây dựng hình ảnh tốt cho công ty.
								p - Xác lập mục tiêu và chiến lược dài hạn, đề xuất các phương pháp thực hiện cụ thể để đạt được mục tiêu đó.
								p - Thúc đẩy, động viên, hướng dẫn các nhân viên về kỹ năng bán hàng, tư vấn để đạt được doanh số đã đề ra.
								p - Lên kế hoạch và thực hiện các buổi hội thảo, offline của công ty theo định kỳ.
								p - Liên kết với bộ phận bán hàng và tiếp thị để nâng cao doanh số và hiệu quả truyền thông.
								p - Thể hiện được tư tưởng và  phong cách của một người lãnh đạo.
								p - Có những ý tưởng, giải pháp sáng tạo để nâng cao khả năng của các nhân viên dưới quyền.
								p - Có  kỹ năng xử lý các vấn đề một cách linh hoạt và hiệu quả nhất.
								a.btn.btn-primary(href='#') ỨNG TUYỂN NGAY
					.job
						.job-title.row.m-0
							.col-1
								p 06
							.col-9.d-flex
								p Tuyển nhân viên
							.col-2.d-flex.align-items-center
								p 27/07/2018
						.job-content
							.content
								p
									strong Nơi làm việc: Hà Nội, Hồ Chí Minh
								p Trách nhiệm của bạn ở vị trí này là tối đa hóa doanh thu thông qua việc hỗ trợ khách hàng lựa chọn và mua các sản phẩm chăm sóc da cao cấp. Bạn cũng sẽ có trách nhiệm quản lý các chuyên gia tư vấn chăm sóc da cấp dưới  tại văn phòng TP Hồ Chí Minh.
								p
									strong Quyền lợi
								p - Lương thỏa thuận + thưởng theo năng lực
								p - Lương tháng 13, du lịch nước ngoài hằng năm và các quyền lợi khác theo chính sách đãi ngộ của công ty.
								p - Hưởng đầy đủ các chế độ theo Luật pháp Việt Nam quy định
								p Ở vị trí Trưởng bộ phận tư vấn ,bạn sẽ thực hiện các  nhiệm vụ chủ yếu và đáp ứng các yêu cầu sau đây:
								p
									strong Nhiệm vụ:
								p - Kiểm tra, xem xét trực tiếp trên làn da thực thế của khách hàng để có những nhận định chính xác về tình trạng da hiện tại của từng khách hàng.
								p - Đề xuất các giải pháp điều trị phù hợp với từng khách hàng cụ thể.
								p - Chịu trách nhiệm đảm bảo doanh số bán hàng trong từng giai đoạn.
								p - Am hiểu một cách thông suốt về tất cả sản phẩm của công ty Miracle Beaute.
								p - Xây dựng  một dịch vụ chăm sóc khách hàng chu đáo và thân thiện nhất.
								p - Tạo dựng và duy trì tinh thần đồng đội, một môi trường làm việc năng động và thân thiện.
								p - Đào tạo và hướng dẫn các nhân viên mới.
								p - Báo cáo cho cấp trên hàng tuần, hàng tháng, hàng quý và hàng năm.
								p - Có khả năng bán hàng và tiếp thị tốt. Thường xuyên đề xuất các giải pháp bán hàng và tiếp thị để nâng cao doanh số và xây dựng hình ảnh tốt cho công ty.
								p - Xác lập mục tiêu và chiến lược dài hạn, đề xuất các phương pháp thực hiện cụ thể để đạt được mục tiêu đó.
								p - Thúc đẩy, động viên, hướng dẫn các nhân viên về kỹ năng bán hàng, tư vấn để đạt được doanh số đã đề ra.
								p - Lên kế hoạch và thực hiện các buổi hội thảo, offline của công ty theo định kỳ.
								p - Liên kết với bộ phận bán hàng và tiếp thị để nâng cao doanh số và hiệu quả truyền thông.
								p - Thể hiện được tư tưởng và  phong cách của một người lãnh đạo.
								p - Có những ý tưởng, giải pháp sáng tạo để nâng cao khả năng của các nhân viên dưới quyền.
								p - Có  kỹ năng xử lý các vấn đề một cách linh hoạt và hiệu quả nhất.
								a.btn.btn-primary(href='#') ỨNG TUYỂN NGAY
					.job
						.job-title.row.m-0
							.col-1
								p 07
							.col-9.d-flex
								p Tuyển nhân viên
							.col-2.d-flex.align-items-center
								p 27/07/2018
						.job-content
							.content
								p
									strong Nơi làm việc: Hà Nội, Hồ Chí Minh
								p Trách nhiệm của bạn ở vị trí này là tối đa hóa doanh thu thông qua việc hỗ trợ khách hàng lựa chọn và mua các sản phẩm chăm sóc da cao cấp. Bạn cũng sẽ có trách nhiệm quản lý các chuyên gia tư vấn chăm sóc da cấp dưới  tại văn phòng TP Hồ Chí Minh.
								p
									strong Quyền lợi
								p - Lương thỏa thuận + thưởng theo năng lực
								p - Lương tháng 13, du lịch nước ngoài hằng năm và các quyền lợi khác theo chính sách đãi ngộ của công ty.
								p - Hưởng đầy đủ các chế độ theo Luật pháp Việt Nam quy định
								p Ở vị trí Trưởng bộ phận tư vấn ,bạn sẽ thực hiện các  nhiệm vụ chủ yếu và đáp ứng các yêu cầu sau đây:
								p
									strong Nhiệm vụ:
								p - Kiểm tra, xem xét trực tiếp trên làn da thực thế của khách hàng để có những nhận định chính xác về tình trạng da hiện tại của từng khách hàng.
								p - Đề xuất các giải pháp điều trị phù hợp với từng khách hàng cụ thể.
								p - Chịu trách nhiệm đảm bảo doanh số bán hàng trong từng giai đoạn.
								p - Am hiểu một cách thông suốt về tất cả sản phẩm của công ty Miracle Beaute.
								p - Xây dựng  một dịch vụ chăm sóc khách hàng chu đáo và thân thiện nhất.
								p - Tạo dựng và duy trì tinh thần đồng đội, một môi trường làm việc năng động và thân thiện.
								p - Đào tạo và hướng dẫn các nhân viên mới.
								p - Báo cáo cho cấp trên hàng tuần, hàng tháng, hàng quý và hàng năm.
								p - Có khả năng bán hàng và tiếp thị tốt. Thường xuyên đề xuất các giải pháp bán hàng và tiếp thị để nâng cao doanh số và xây dựng hình ảnh tốt cho công ty.
								p - Xác lập mục tiêu và chiến lược dài hạn, đề xuất các phương pháp thực hiện cụ thể để đạt được mục tiêu đó.
								p - Thúc đẩy, động viên, hướng dẫn các nhân viên về kỹ năng bán hàng, tư vấn để đạt được doanh số đã đề ra.
								p - Lên kế hoạch và thực hiện các buổi hội thảo, offline của công ty theo định kỳ.
								p - Liên kết với bộ phận bán hàng và tiếp thị để nâng cao doanh số và hiệu quả truyền thông.
								p - Thể hiện được tư tưởng và  phong cách của một người lãnh đạo.
								p - Có những ý tưởng, giải pháp sáng tạo để nâng cao khả năng của các nhân viên dưới quyền.
								p - Có  kỹ năng xử lý các vấn đề một cách linh hoạt và hiệu quả nhất.
								a.btn.btn-primary(href='#') ỨNG TUYỂN NGAY