section.canhcam-boxes-7(bg-img='./img/about/bg.png')
	article
		.container
			.row
				.col-lg-4.nav-about
					.list-group(data-fix="65", data-fix-type="initial", data-fix-change="sticky")
						.list-group-item.active
							a.nav-link(href="#sec-1") Thông điệp người giới thiệu
						.list-group-item
							a.nav-link(href="#sec-2") Giới thiệu
						.list-group-item
							a.nav-link(href="#sec-3") Giá trị thương hiệu
						.list-group-item
							a.nav-link(href="#sec-4") Con số ấn tượng
						.list-group-item
							a.nav-link(href="#sec-5") Lịch sử thương hiệu
				.col-lg-8
					.row
						.col-12#sec-1.sec-1.scrollspy
							.content.miracle-title
								h2.text-center Thông điệp người giới thiệu
								p.bold Chị Jolie Rose -  Nguyễn Thị Mai Hồng, người sáng lập và giám đốc điều hành Công ty TNHH  Miracle Beaute, đồng thời là tranning manager của thương hiệu Academie Scientifique de Beaute tại Pháp. Hiện tại, chị đang sống và làm việc tại Pháp. Trước khi trở thành đại diện của Academie Beaute tại Việt Nam, chị đã từng hợp tác với rất nhiều thương hiệu dược mỹ phẩm hàng đầu thế giới như Demalogica, Janssen, Matis,  Peggy Sage... Ngoài việc thường xuyên giảng dạy cho các đại lý của Academie Beaute trên toàn thế giới, chị cũng tham gia nghiên cứu các thành phần hoạt tính để tạo các sản phẩm mới của thương hiệu.
								br
								p Ngoài ra, chị còn là một makeup artist tài năng với nhiều năm kinh nghiệm trang điểm cho các nhân vật nổi tiếng ở kinh đô thời trang Paris và các chính trị gia, nguyên thủ nước Pháp.
								br
								img.img-one.img-fluid(src="./img/about/about-1.jpg")
								br
								p.text-img Hiện nay, lĩnh vực chăm sóc da tại Việt Nam gần như hỗn loạn từ những sản phẩm được sản xuất chuyên nghiệp ở trong và ngoài nước đến những sản phẩm được chế biến thủ công một cách sơ sài thâm chí là vô trách nhiệm. Một nhu cầu chính đáng và sáng suốt của một người phụ nữ là tìm một loại mỹ phẩm thực sự phù hợp và mang lại hiệu quả cao nhất cho làn da của mình bỗng trở nên không hề đơn giản.
								br
								p.semi-bold Bằng những ấp ủ ước mơ đó cùng với những kiến thức học được những trường đào tạo chuyên nghiệp về hóa mỹ phẩm hàng đầu nước Pháp, ngày 10 tháng 6 năm 2014, Miracle Beaute được thành lập với mục tiêu giúp mang đến chị em phụ nữ Việt Nam một phương pháp hoàn toàn khác biệt trong việc mua và sử dụng mỹ phẩm.
								br
								p Phương châm “Chỉ bán hàng sau khi tư vấn”
								p Xem xét và chẩn đoán tình trạng da để đưa ra giải pháp phù hợp với mục tiêu làm đẹp là cách làm đẹp hiệu quả và khoa học. Các chuyên viên tư vấn của Miracle Beaute sẽ phân tích, đánh giá tình trạng da thực tế của mỗi khách và đưa ra quy trình chăm sóc hằng ngày cho  làn da của bạn.
								img.img-fluid(src="./img/about/1.png")
								br
								p Slogan “Da khỏe là da đẹp”
								p Làn da khỏe mạnh sẽ là tiền đề tạo điều kiện cho một làn da dẹp. Với solan này, Miracle Beaute hướng đến phương pháp giúp làn da của bạn khỏe hơn qua đó làn da đẹp sẽ là một điều hiển nhiên trong tương lai.
								img.img-fluid(src="./img/about/2.png")
								br
								p Nhà phân phối độc quyền thương hiệu Academie Beaute
								p Bằng những sản phẩm đặc trị chuyên dùng trong các viện chăm sóc da và spa hàng đầu tại Pháp, Miracle Beaute đã chọn Academie Beaute là thương hiệu cung cấp những mỹ phẩm cho việc điều trị cho các khách hàng tại Việt Nam và người Việt trên toàn thế giới.
								img.img-fluid(src="./img/about/3.png")
								br
								p.semi-bold Với những kiến thức trao cho khách hàng trong mỗi buổi tư vấn, Miracle Beaute mong muốn mang đến cho mỗi khách hàng một làn da khỏe mạnh, một kiến thức vững vàng, để đẹp hơn, tự tin hơn và yêu thương vào cuộc sống.
								br
								p.semi-bold Với những kiến thức trao cho khách hàng trong mỗi buổi tư vấn, Miracle Beaute mong muốn mang đến cho mỗi khách hàng một làn da khỏe mạnh, một kiến thức vững vàng, để đẹp hơn, tự tin hơn và yêu thương vào cuộc sống.
								
						.col-12#sec-2.sec-2.scrollspy
							.content.miracle-title
								img.img-fluid(src="./img/about/about-1.jpg" style="margin-bottom: 2rem")
								h2.text-center giới thiệu
								p.bold Académie Scientifique de Beauté với gần 130 năm kinh nghiệm trong ngành dịch vụ làm đẹp, cùng đội ngũ các nhà khoa học và chuyên gia hàng đầu trong lĩnh vực chăm sóc da tại Pháp, mỗi sản phẩm chúng tôi làm ra đều là từ kết quả của quá trình nghiên cứu, thử nghiệm rất phức tạp để mang lại sự cải thiện hiệu quả nhất trên làm da của bạn.
								br
								p Là trường đào tạo được công nhận sớm nhất với các phương pháp điều trị theo loại da và các vấn đề của da. Chúng tôi có những phương pháp l	iệu trình đào tạo bài bản được xuất bản và lưu truyền rộng rãi trong lĩnh làm đẹp trên toàn thế giới
								br
								p.sebmi-bold Hôm nay chúng tôi mời bạn khám phá thế giới của kiến thức làm đẹp với phương châm “Khoa học trong dịch vụ làm đẹp”
						.col-12#sec-3.sec-3.scrollspy
							.content.miracle-title
								img.img-fluid(src="./img/about/about-1.jpg" style="margin-bottom: 2rem")
								h2.text-center giá trị thương hiệu
								p.s-bold.text-center Scientifique de Beauté đã ghi dấu vào lịch sử mỹ phẩm thế giới nhờ vào sự đổi mới liên tục trong công thức mỹ phẩm, sản phẩm xuất sắc, cách tiếp cận độc đáo và dịch vụ chăm sóc da chuyên nghiệp và khoa học để chứng minh rằng công ty chúng tôi đã luôn luôn sẵn sàng mang cái đẹp đến gần hơn với người tiêu dùng.
								.value
									.img
										img(src="./img/about/4.png", alt="")
									.text
										p Một công ty hiện đại và tiên phong trong nghiên cứu & phát triển mà không có giới hạn, luôn luôn tìm kiếm các phương pháp và liên tục dựa trên hiệu quả cao và tập trung thành phần sản phẩm.
								.value
									.img
										img(src="./img/about/5.png", alt="")
									.text
										p Như Từ lúc bắt đầu, Académie Scientifique de Beauté  được phân phối từ một nơi độc quyền và uy tín nằm ở Rue Saint Honore, Paris: beauty salon đầu tiên ở Pháp. Người sáng lập thuyết phục thế giới rằng da chỉ đẹp thực sự nếu và chỉ nếu sản phẩm chăm sóc da được tạo ra  một cách khoa học. Kiến thức của ông ấy và phong cách chuẩn kiểu Pháp trong làm đẹp đã nhanh chóng lan rộng ra Thế giới.
								.value
									.img
										img(src="./img/about/6.png", alt="")
									.text
										p Được đào tạo bởi các chuyên gia, là các bậc thầy trong ngành công nghiệp làm đẹp. Các chuyên gia sẽ đưa ra lời khuyên thích hợp cho để thực hiện, giải thích về thành phần hoạt động của sản phẩm và đề xuất giải pháp phù hợp nhất cho bạn.
						.col-12#sec-4.sec-4.scrollspy
							.content.miracle-title
								.img
									img.img-fluid(src="./img/about/about-2.jpg", alt="")
								h2.text-center con số ấn tượng
								.row
									.col-md-4.col-sm-6
											
										.value
											.img
												span(data-duration="2000" data-count="128" data-top="30")
											.text
												p Là một số năm kinh nghiệm của chúng tôi trong khoa học làm đẹp.
									.col-md-4.col-sm-6
										.value
											.img
												span(data-duration="2000" data-count="800" data-top="30")
											.text
												p Là số nguyên liệu trong công thức của chúng tôi.
									.col-md-4.col-sm-6
										.value
											.img
												span(data-duration="2000" data-count="30" data-top="30")
											.text
												p Là con số trung bình của nguyên liệu chứa trong mỗi sản phẩm của chúng tôi.
									.col-md-4.col-sm-6
										.value
											.img
												span(data-duration="2000" data-count="18" data-top="30")
											.text
												p Là số lượng tối thiểu của tháng để phát triển một công thức mới.
									.col-md-4.col-sm-6
										.value
											.img
												span(data-duration="2000" data-count="150" data-top="30")
											.text
												p Là số lượng các tiến hành xét nghiệm hàng năm.
									.col-md-4.col-sm-6
										.value
											.img
												span(data-duration="2000" data-count="20" data-top="30")
											.text
												p Là số thành viên của bộ phận nghiên cứu và phát triển của thương hiệu.
									
						.col-12#sec-5.sec-5.miracle-title.scrollspy
							.content
								h2.text-center lịch sử thương hiệu
								<iframe height="480" src="https://www.youtube.com/embed/16__0yr4XpM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
								p Và câu chuyện của chúng tôi vẫn còn tiếp tục…