section.canhcam-home-4
	.container.miracle-title
		.row
			.col.text-center
				h2 kiến thức chăm sóc da
		.knowledge
			ul#tab.nav.nav-pills.canhcam-nav-2(role='tablist')
				li.nav-item
					a#news-tab.nav-link.active(data-toggle="pill" href='#news' aria-selected='true') ĐÁNH GIÁ
				li.nav-item
					a#news-video-tab.nav-link(data-toggle="pill" href='#news-video' aria-selected='false') VIDEO
			#tabContent.tab-content
				#news.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='news-tab')
					.row.justify-content-center.news
						.col-md-4
							a.item(href='#')
								figure
									img(src="./img/miracle/home/home-9.png")
									figcaption
										time 29.06.2018
										h3 4 BÍ QUYẾT CHĂM SÓC DA CĂNG BÓNG, MỊN MÀNG CỦA PHỤ NỮ NHẬT
										p Ngoài quy trình dưỡng da nhiều bước và phức tạp, người Nhật vẫn có những bí quyết làm đẹp rất đơn giản và dễ thực hiện.
						.col-md-4
							a.item(href='#')
								figure
									img(src="./img/miracle/home/home-10.png")
									figcaption
										time 29.06.2018
										h3 Những sai lầm chăm sóc da quen thuộc mà bạn không ngờ đến
										p Trong một quy trình chăm sóc da cầu kỳ gần chục bước thì rửa mặt và tẩy trang có vẻ là bước dễ dàng, không đòi hỏi nhiều mà cũng chẳng tốn mấy công sức nhất.
						.col-md-4
							a.item(href='#')
								figure
									img(src="./img/miracle/home/home-11.png")
									figcaption
										time 29.06.2018
										h3 Thanh lọc cơ thể – Bí quyết từ chuyên gia dinh dưỡng của GIGI Hadid
										p Trước một sự kiện quan trọng Gigi Hadid quyết định tiến hành một chế độ ăn uống thanh lọc cơ thể và tập luyện khắc nghiệt để có được vóc dáng hoàn hảo.
				#news-video.tab-pane.fade(role='tabpanel', aria-labelledby='news-video-tab')
					.row.justify-content-center
						.col-10
							.owl-carousel.owl-theme.video
								.item
									iframe(src='https://www.youtube.com/embed/UV6iqYqGMUw', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
								.item
									iframe(src='https://www.youtube.com/embed/UV6iqYqGMUw', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
								.item
									iframe(src='https://www.youtube.com/embed/UV6iqYqGMUw', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
