section.canhcam-news-1
	.container.miracle-title.text-center
		.row
			.col-12
				h2 Tin tức
		include ../../nav/n-1/index.pug
	article.news-hot
		.container
			.row.no-gutters.items
				.col-lg-7(bg-img="./img/news/news-2.jpg")
					img.img-fluid.d-lg-none(src="./img/news/news-2.jpg", alt="")
				.col-lg-5
					.text
						h3.title Lorem ipsum dolor sit amet consectetur
						.flag Lorem ipsum dolor
						p.description Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut consectetur autem iure. Dignissimos consectetur aut necessitatibus praesentium sint fugit tempore dolorum placeat perferendis repellat?
						.view-more
							a.btn(href="#") XEM THÊM
			.row.no-gutters.items
				.col-lg-7(bg-img="./img/news/news-4.jpg")
					img.img-fluid.d-lg-none(src="./img/news/news-2.jpg", alt="")
				.col-lg-5
					.text
						h3.title Lorem ipsum dolor sit amet consectetur
						.flag Lorem ipsum dolor
						p.description Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut consectetur autem iure. Dignissimos consectetur aut necessitatibus praesentium sint fugit tempore dolorum placeat perferendis repellat?
						.view-more
							a.btn(href="#") XEM THÊM
			.row.no-gutters.items
				.col-lg-7(bg-img="./img/news/news-6.jpg")
					img.img-fluid.d-lg-none(src="./img/news/news-2.jpg", alt="")
				.col-lg-5
					.text
						h3.title Lorem ipsum dolor sit amet consectetur
						.flag Lorem ipsum dolor asd asd
						p.description Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut consectetur autem iure. Dignissimos consectetur aut necessitatibus praesentium sint fugit tempore dolorum placeat perferendis repellat?
						.view-more
							a.btn(href="#") XEM THÊM
			.row.no-gutters.items
				.col-lg-7(bg-img="./img/news/news-8.jpg")
					img.img-fluid.d-lg-none(src="./img/news/news-2.jpg", alt="")
				.col-lg-5
					.text
						h3.title Lorem ipsum dolor sit amet consectetur
						.flag Lorem ipsum dolor
						p.description Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut consectetur autem iure. Dignissimos consectetur aut necessitatibus praesentium sint fugit tempore dolorum placeat perferendis repellat?
						.view-more
							a.btn(href="#") XEM THÊM
.container
	.row.justify-content-center
		ul.pagination.pagination-sm
			li.page-item
				a.page-link(href="#", title="title") 1
			li.page-item.active
				a.page-link(href="#", title="title") 2
			li.page-item
				a.page-link(href="#", title="title") 3
			li.page-item
				a.page-link(href="#", title="title") 4