section.canhcam-news-1
	.container.miracle-title.text-center
		.row
			.col-12
				h2 Tin tức
		include ../../nav/n-1/index.pug
	article.news-hot
		.container
			.row.news-item
				.col-lg-8.top-list
					a.item(href="news-details.html")
						figure
							.boxzoom
								img.img-fluid(src="./img/news/news-1.jpg")
							figcaption
								time 12.12.2017
								h3 Đẹp đón thu sang, rộn ràng khoe sắc:  Giảm lên tới 50% cho các dịch vụ làm đẹp tại Miracle Beaute.
								p “Tiếp sức” cho làn da trong những ngày chuyển mùa hè – thu đỏng đảnh, Miracle Beaute dành tặng các chị em gái chương trình ưu đãi siêu hấp dẫn, lên tới hơn 50% chi phí. 
				.col-lg-4.part-list
					.row
						.col-12
							a.item(href="news-details.html")
								figure
									.boxzoom
										img.img-fluid(src="./img/news/news-2.jpg", alt="alt")
									figcaption
										time 12.12.2017
										h3 Trắng mịn bật tông, trắng hồng rạng rỡ: Giảm ngay khi mua các sản phẩm chăm sóc da tại Miracle Beaute.
						.col-12
							a.item(href="news-details.html")
								figure
									.boxzoom
										img.img-fluid(src="./img/news/news-3.jpg", alt="alt")
									figcaption
										time 12.12.2017
										h3 Trẻ hóa làn da, xóa mờ vết nám: Giảm 20% cho liệu trình tẩy tế bào chết.
		.container
			.row
				.col-sm-6.col-lg-4
					a.item(href="news-details.html")
						figure
							.boxzoom
								img.img-fluid(src="./img/news/news-4.jpg", alt="alt")
							figcaption
								time 12.12.2017
								h3 Sạch mụn mờ thâm, khoe nét duyên ngầm: Giảm ngay 50% cho học sinh sinh viên  

				.col-sm-6.col-lg-4
					a.item(href="news-details.html")
						figure
							.boxzoom
								img.img-fluid(src="./img/news/news-5.jpg", alt="alt")
							figcaption
								time 12.12.2017
								h3 Hết nám sáng da, kiêu sa mặt mộc: Giảm ngay 50%

				.col-sm-6.col-lg-4
					a.item(href="news-details.html")
						figure
							.boxzoom
								img.img-fluid(src="./img/news/news-6.jpg", alt="alt")
							figcaption
								time 12.12.2017
								h3 Chăm sóc cơ thể, mừng lễ Quốc Khánh: Giảm 20% khi tham gia liệu trình và mua một sản phẩm sữa rửa mặt bất kì.
				.col-sm-6.col-lg-4
					a.item(href="news-details.html")
						figure
							.boxzoom
								img.img-fluid(src="./img/news/news-7.jpg", alt="alt")
							figcaption
								time 12.12.2017
								h3 Thư giãn massage, làn da tươi tắn: Giảm ngay 30%
				.col-sm-6.col-lg-4
					a.item(href="news-details.html")
						figure
							.boxzoom
								img.img-fluid(src="./img/news/news-8.jpg", alt="alt")
							figcaption
								time 12.12.2017
								h3 Cùng Miracle Beaute, đánh thức làn da rạng rỡ.
				.col-sm-6.col-lg-4
					a.item(href="news-details.html")
						figure
							.boxzoom
								img.img-fluid(src="./img/news/news-9.jpg", alt="alt")
							figcaption
								time 12.12.2017
								h3 Đón chào tháng tám, xóa tan vết nám.
.container
	.row.justify-content-center
		ul.pagination.pagination-sm.mb-0
			li.page-item
				a.page-link(href="#", title="title") 1
			li.page-item.active
				a.page-link(href="#", title="title") 2
			li.page-item
				a.page-link(href="#", title="title") 3
			li.page-item
				a.page-link(href="#", title="title") 4