section.canhcam-home-3
	.container.miracle-title
		.row
			.col.text-center
				h2 Cảm nhận khách hàng
		.feeling
			ul#tab.nav.nav-pills.canhcam-nav-2(role='tablist')
				li.nav-item
					a#review-tab.nav-link.active(data-toggle="pill" href='#review' aria-selected='true') ĐÁNH GIÁ
				li.nav-item
					a#video-tab.nav-link(data-toggle="pill" href='#video' aria-selected='false') VIDEO
			#tabContent.tab-content
				#review.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='review-tab')
					.row.justify-content-center
						.col-10
							.owl-carousel.owl-theme.review
								.item
									.row
										.col-lg-4.offset-lg-2.col-md-6.offset-md-0.col-sm-9.offset-sm-3.d-flex.align-items-center.order-2.order-md-1
											.text
												p.first DIỄN VIÊN
												h4.name Diễm My
												p.quote Trước khi quay phim mới hay tham dự sự kiện quan trọng, tôi thường đến với Miracle Beauty để chăm sóc, lấy lại vẻ rạng rỡ cho làn da. Tôi thực sự yên tâm và hài lòng với dịch vụ tại Miracle Beaute
												a.btn(href='#') 
													span.mdi.mdi-arrow-right
													span XEM CHI TIẾT
										.col-md-6.order-1.order-md-2
											.img
												img(src="./img/home/home-8.png")
								.item
									.row
										.col-lg-4.offset-lg-2.col-md-6.offset-md-0.col-sm-9.offset-sm-3.d-flex.align-items-center.order-2.order-md-1
											.text
												p.first DIỄN VIÊN
												h4.name Diễm My
												p.quote Trước khi quay phim mới hay tham dự sự kiện quan trọng, tôi thường đến với Miracle Beauty để chăm sóc, lấy lại vẻ rạng rỡ cho làn da. Tôi thực sự yên tâm và hài lòng với dịch vụ tại Miracle Beaute
												a.btn(href='#') 
													span.mdi.mdi-arrow-right
													span XEM CHI TIẾT
										.col-md-6.order-1.order-md-2
											.img
												img(src="./img/home/home-8.png")
								.item
									.row
										.col-lg-4.offset-lg-2.col-md-6.offset-md-0.col-sm-9.offset-sm-3.d-flex.align-items-center.order-2.order-md-1
											.text
												p.first DIỄN VIÊN
												h4.name Diễm My
												p.quote Trước khi quay phim mới hay tham dự sự kiện quan trọng, tôi thường đến với Miracle Beauty để chăm sóc, lấy lại vẻ rạng rỡ cho làn da. Tôi thực sự yên tâm và hài lòng với dịch vụ tại Miracle Beaute
												a.btn(href='#') 
													span.mdi.mdi-arrow-right
													span XEM CHI TIẾT
										.col-md-6.order-1.order-md-2
											.img
												img(src="./img/home/home-8.png")
				#video.tab-pane.fade(role='tabpanel', aria-labelledby='video-tab')
					.row.justify-content-center
						.col-10
							.owl-carousel.owl-theme.video
								.item
									iframe(src='https://www.youtube.com/embed/UV6iqYqGMUw', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
								.item
									iframe(src='https://www.youtube.com/embed/UV6iqYqGMUw', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
								.item
									iframe(src='https://www.youtube.com/embed/UV6iqYqGMUw', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
